<section class="iniciodesesion">
		<div class="BarHeader Content">
			<div class="BarHeaderContainer ContentContainer MaxWidth">
				<img alt="" src="img/image_headerbar_1.png" />
			</div>
		</div>
		<div class="container-fluid" id="iniciodesesion-box">    
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Activación de usuario</h1>
			</div>
		</div>	
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">
                        <p>{{mensaje}}</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" ng-show="exitoso"> 
            <div style="text-align: center; width: 120px;margin: 0 auto;">        
                <a style="" ui-sref="iniciarSesion">         
                    <span  class="initButton">INICIA SESIÓN</span>        
                </a>        
            </div>           
        </div>
        <p><br></p>
    </div>
</section>