<div  class="BarHeader Content">
    <div class="BarHeaderContainer ContentContainer MaxWidth">
        <div class="Text">
            <span>Anulación de Orden</span>
        </div>
        <img src="img/image_headerbar_1.png" alt="">
    </div>
</div>
<div style="height: 100%;" class="ContentContainer customLabel MaxWidthData">
    <br>
    <br>
    <h1> Se ha solicitado la anulacion de la  con codigo: {{orden}}.</h1>
    <br>
    <br>
<!--    <div class="row" ng-show="exitoso"> 
        <div class="col-md-5"></div>
        <div class="col-md-3">
            <a ui-sref="iniciarSesion"> 
            <span  class="initButton">INICIA SESIÓN</span>
            </a>
        </div>
        <div class="col-md-4"></div>
    </div>-->
    <br>
    <br>
</div>