<section class="vende">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Blog</h1>
			</div>
		</div>

		<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>Próximamente</p>
            </div>
        </div>
            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>