<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="boxitBar-top"></div>
<div class="row boxitBar">
    <div class="col-md-2 carAvatar">&nbsp;
        <div class="Avatar"></div>
        <span class="Name">Hola {{UserName}}</span>

        <div class="store-favoritos-button">
            <a class="misFavoritos" ui-sref="misFavoritos" >Mis Favoritos</a>
        </div>    

    </div>

<div class="form-group col-md-2">
    <select id="select_categories" class="form-control" ng-change="setSubCategories()" ng-init="initIndex()" ng-model="index" ng-options="index.attributes.SearchIndex for index in indexs"> </select>
</div>
<div class="form-group col-md-2" ng-show="showSubCategories">
    <select class="form-control" ng-model="subCategory" ng-options="subCategory.SubCategoryName for subCategory in subCategories"> </select>
</div>
<div class="store-search">
    <div class="store-search-input col-md-3">
        <input class="form-control" name="find" ng-keypress="$event.keyCode == 13 ? doSearch() : ' '" ng-model="keyword" type="text" /> 
    </div>
    <div class="store-search-button col-md-2">
        <button class="btn btn-info" ng-click="doSearch()" type="button">Búsqueda</button>
    </div>
    
    <div class="store-cart col-md-1">
        <a class="cart" ng-click="showShoppingCar()"> <span id="cartNumber">{{carNumber}}</span>Cart </a></div>
    </div>
</div>
<div class="BoxitStoreContainer container" ng-init="firstSearch()" style="margin-bottom: 10%;">
<div class="row">
<div ng-show="loadMain" style="margin-bottom: 20%">
<div class="col-lg-12">
<div id="cssload-pgloading">
<div class="cssload-loadingwrap">
<ul class="cssload-bokeh">
	<li></li>
	<li></li>
	<li></li>
	<li></li>
</ul>
</div>
</div>
</div>
</div>





<div ng-show="showCar"> 
    <div class="store-list">
        <div class="col-sm-3 col-noppading" ng-repeat="item in Items">
            <div class="product-item">
                <div class="product-item-info">
                    <a ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-photo">				
                    <span class="product-image-container">
                        <span class="product-image-wrapper">
                            <img class="product-image-photo img-responsive-no" src="{{item.Image.ImageUrl}}" alt="{{item.Attributes.Title}}">
                        </span>
                    </span>
                    </a>
                    <div class="product-item-details">
                        <strong class="product-item-name">
                            <a title="Lord Benedict Handy" ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-link">{{item.Attributes.Title}}</a>
                        </strong>
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="72">
                            <span class="price-container price-final_price tax weee">
                                <span id="old-price-72-widget-product-grid" data-price-amount="125" data-price-type="finalPrice" class="price-wrapper ">
                                    <span class="price">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                                </span>
                            </span>
                        </div>
                        <div class="product-item-actions">
                            <div class="actions-primary actions add-to-cart">
                                <div class="actions add-to-cart">
                                    <button type="button" title="Add to Cart" class="action primary tocart button btn-cart" id="product-addtocart-button" ng-click="addToCar(item.ItemId)">
                                        <span>Añadir al carrito</span>
                                    </button>
                                </div>
                            </div>
                            <div class="actions-secondary">
                                <a ng-click="addToWishList(item)" class="action towishlist" title="Agregar a Favoritos">
                                    <span>Agregar a Favoritos</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="store-list-category" ng-show="showProductsCategory">
        <div class="store-list-category-title">
            <div class="store-list-category-title-inner">
                <div class="store-list-category-title-text">
                    <h2>Electronics</h2>
                </div>
            </div>
        </div>

        <div id="myCarousel" class="carousel slide " data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>     
            <div class="carousel-inner store-list">
                <div class="item active">
                    <div class="row-no">
        
                        <div class="col-sm-3 col-noppading" ng-repeat="item in ItemsElectronicsUno">
                            <div class="product-item">
                                <div class="product-item-info">
                                    <a ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-photo">				
                                    <span class="product-image-container">
                                        <span class="product-image-wrapper">
                                            <img class="product-image-photo img-responsive-no" src="{{item.Image.ImageUrl}}" alt="{{item.Attributes.Title}}">
                                        </span>
                                    </span>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="Lord Benedict Handy" ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-link">{{item.Attributes.Title}}</a>
                                        </strong>
                                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="72">
                                            <span class="price-container price-final_price tax weee">
                                                <span id="old-price-72-widget-product-grid" data-price-amount="125" data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="product-item-actions">
                                            <div class="actions-primary actions add-to-cart">
                                                <div class="actions add-to-cart">
                                                    <button type="button" title="Add to Cart" class="action primary tocart button btn-cart" id="product-addtocart-button" ng-click="addToCar(item.ItemId)">
                                                        <span>Añadir al carrito</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="actions-secondary">
                                                <a ng-click="addToWishList(item)" class="action towishlist" title="Agregar a Favoritos">
                                                    <span>Agregar a Favoritos</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                
                <div class="item">
                    <div class="row">
        
                        <div class="col-sm-3 col-noppading" ng-repeat="item in ItemsElectronicsDos">
                            <div class="product-item">
                                <div class="product-item-info">
                                    <a ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-photo">				
                                    <span class="product-image-container">
                                        <span class="product-image-wrapper">
                                            <img class="product-image-photo img-responsive-no" src="{{item.Image.ImageUrl}}" alt="{{item.Attributes.Title}}">
                                        </span>
                                    </span>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="Lord Benedict Handy" ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-link">{{item.Attributes.Title}}</a>
                                        </strong>
                                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="72">
                                            <span class="price-container price-final_price tax weee">
                                                <span id="old-price-72-widget-product-grid" data-price-amount="125" data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="product-item-actions">
                                            <div class="actions-primary actions add-to-cart">
                                                <div class="actions add-to-cart">
                                                    <button type="button" title="Add to Cart" class="action primary tocart button btn-cart" id="product-addtocart-button" ng-click="addToCar(item.ItemId)">
                                                        <span>Añadir al carrito</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="actions-secondary">
                                                <a ng-click="addToWishList(item)" class="action towishlist" title="Agregar a Favoritos">
                                                    <span>Agregar a Favoritos</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

                <div class="item">
                    <div class="row">
        
                        <div class="col-sm-3 col-noppading" ng-repeat="item in ItemsElectronicsTres">
                            <div class="product-item">
                                <div class="product-item-info">
                                    <a ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-photo">				
                                    <span class="product-image-container">
                                        <span class="product-image-wrapper">
                                            <img class="product-image-photo img-responsive-no" src="{{item.Image.ImageUrl}}" alt="{{item.Attributes.Title}}">
                                        </span>
                                    </span>
                                    </a>
                                    <div class="product-item-details">
                                        <strong class="product-item-name">
                                            <a title="Lord Benedict Handy" ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-link">{{item.Attributes.Title}}</a>
                                        </strong>
                                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="72">
                                            <span class="price-container price-final_price tax weee">
                                                <span id="old-price-72-widget-product-grid" data-price-amount="125" data-price-type="finalPrice" class="price-wrapper ">
                                                    <span class="price">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                                                </span>
                                            </span>
                                        </div>
                                        <div class="product-item-actions">
                                            <div class="actions-primary actions add-to-cart">
                                                <div class="actions add-to-cart">
                                                    <button type="button" title="Add to Cart" class="action primary tocart button btn-cart" id="product-addtocart-button" ng-click="addToCar(item.ItemId)">
                                                        <span>Añadir al carrito</span>
                                                    </button>
                                                </div>
                                            </div>
                                            <div class="actions-secondary">
                                                <a ng-click="addToWishList(item)" class="action towishlist" title="Agregar a Favoritos">
                                                    <span>Agregar a Favoritos</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            

            </div>
            <a class="left carousel-control" href="#myCarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    
<script type="text/javascript">
$(document).ready(function() {
	$('a.carousel-control').on('click', function(event) {
		console.log('carousel-control click');
        event.preventDefault();
    })
});
</script>


    <div class="store-list-category" ng-show="showProductsCategory">
        <div class="store-list-category-title">
            <div class="store-list-category-title-inner">
                <div class="store-list-category-title-text">
                    <h2>Baby</h2>
                </div>
            </div>
        </div>
        <div class="store-list">
        <div class="col-sm-3 col-noppading" ng-repeat="item in ItemsBaby">
            <div class="product-item">
                <div class="product-item-info">
                    <a ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-photo">				
                    <span class="product-image-container">
                        <span class="product-image-wrapper">
                            <img class="product-image-photo img-responsive-no" src="{{item.Image.ImageUrl}}" alt="{{item.Attributes.Title}}">
                        </span>
                    </span>
                    </a>
                    <div class="product-item-details">
                        <strong class="product-item-name">
                            <a title="Lord Benedict Handy" ui-sref="itemDetail({itemId: item.ItemId})" class="product-item-link">{{item.Attributes.Title}}</a>
                        </strong>
                        <div class="price-box price-final_price" data-role="priceBox" data-product-id="72">
                            <span class="price-container price-final_price tax weee">
                                <span id="old-price-72-widget-product-grid" data-price-amount="125" data-price-type="finalPrice" class="price-wrapper ">
                                    <span class="price">{{item.Offers.Offer.OfferListing.Price.FormattedPrice}}</span>
                                </span>
                            </span>
                        </div>
                        <div class="product-item-actions">
                            <div class="actions-primary actions add-to-cart">
                                <div class="actions add-to-cart">
                                    <button type="button" title="Add to Cart" class="action primary tocart button btn-cart" id="product-addtocart-button" ng-click="addToCar(item.ItemId)">
                                        <span>Añadir al carrito</span>
                                    </button>
                                </div>
                            </div>
                            <div class="actions-secondary">
                                <a ng-click="addToWishList(item)" class="action towishlist" title="Agregar a Favoritos">
                                    <span>Agregar a Favoritos</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div ng-show="showCarMessage">
<div class="col-lg-12">
<h2 class="text-center">No hay Resultados</h2>
</div>
</div>
</div>

<div class="row">
<div class="col-lg-4"></div>

<div class="col-lg-5"><uib-pagination ng-change="pageChanged()" ng-model="currentPage" ng-show="showPagination" total-items="totalItems"></uib-pagination></div>

<div class="col-lg-3"></div>
</div>
</div>

<!-- <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/bien_cool.png" style="width: 290px;" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>

<div class="Button WithBackground"><a href="#">REGISTRARME</a></div>
</div>
<img src="img/foto-Banner_5.png" style="" /></div>
</div> -->
<!--<div class="AlwaysClose Content">
    <div class="MainTitle">
        Siempre Cerca
    </div>
    <div class="Description">
        <div class="Text">
            Regístrate y elige el boxit más cercano a tu casa u oficina
        </div>
        <a href="#">
            <div class="Button WithBackground">CONSIGUE EL BOXIT MÁS CERCANO</div>
        </a>
    </div>
</div>-->

<!-- <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">ADEMAS DE TODO; <span>BOXIT</span><br />
&iexcl;ES BIEN COOL!</div>
<img src="img/foto-Banner_2.png" /></div>
</div> -->
</body>
</html>