<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0], 
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<section class="home iniciodesesion">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>
	<div class="container-fluid" id="iniciodesesion-box">    
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Comunicate con Nosotros</h1>
			</div>
		</div>	
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">

						<div class="PageDescription">
							<div class="MainDescription MaxWidth" style="margin-bottom: 0;">

								<div class="customLabel"><h3><b>Teléfono:</b></h3></div>
								<h3><i class="fa fa-phone"></i> +(507) 3171014</h3>
								<h3><i class="fa fa-whatsapp"></i>+(507) 63494559</h3>

								<div class="customLabel"><h3><b>Email:</b></h3></div>
								<h3><i class="fa fa-envelope"></i>hello@myboxit.com</h3>

								<div class="customLabel"><h3><b>Atención al Cliente:</b></h3></div>
								<h3>Lunes a Viernes de 8:30 am - 5:30pm</h3>
							</div>
						</div>
						
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<script type="text/javascript">
    $(document).ready(function() {
        $('html,body').animate({
            scrollTop: (1)
        }, 1000);

    });

</script>
</body>
</html>