<html>
<head>
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth Soon">
<div class="MainTitle">Devoluci&oacute;n de compra</div>

<div class="Description">
<div class="Text">Si cambiaste de opini&oacute;n respecto a lo seleccionado en una compra, devolver el paquete no es tarea dif&iacute;cil.<br />
Muy pronto con <span>Boxit</span> disfrutar&aacute;s de este ejemplar servicio.</div>
</div>

<div class="Image" style="text-align: center;margin-bottom: 20px;"><img alt="" src="img/PaqueteDevolucion.gif" /></div>

<div class="BoxReadMore">
<div class="Image"><img alt="" src="img/texto_devolucion.png" /></div>
</div>

<div class="Logos">
<div class="Right"><img alt="" src="img/Slogan.png" /></div>
</div>
</div>
</div>

<div class="Soon Content">
<div class="SoonContainer ContentContainer MaxWidth">
<div class="Image"><img alt="" src="img/soon.png" /></div>
</div>
</div>

<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_3.png" style="" /></div>
</div>

<div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>

<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">ADEM&Aacute;S DE TODO; <span>BOXIT</span><br />
&iexcl;ES BIEN COOL!</div>
<img src="img/foto-Banner_4.png" /></div>
</div>
</body>
</html>