<section class="empresarial">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid boxit-residencial" id="empresarial-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Boxit Residencial</h1>
			</div>
		</div>

		<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>Olvídate del arresto domiciliario cuando esperas que llegue tu paquete; ahora tus paquetes esperarán por ti.</p>
				<p>Si estás interesado en colocar un <strong>Boxit</strong> en tu edificio o residencial, enviamos un correo a <a href="mailto:hello@myboxit.com">hello@myboxit.com</a> y nosotros haremos el resto.</p>

				<div class="content-box">
					<div class="content-box-img">
						<img src="img/newstyle/24-7.jpg" width="135" height="153" alt="">
					</div>
					<div class="content-box-text">
						<h5>Conveniencia</h5>
						<p>Retira a tu conveniencia, tus paquetes estarán disponibles para que los retires 24/7</p>
					</div>
				</div>

				<div class="content-box">
					<div class="content-box-img">
						<img src="img/newstyle/seguridad.png" width="135" height="153" alt="">
					</div>
					<div class="content-box-text">
						<h5>Seguridad</h5>
						<p>Sensores y cámaras incorporadas para garantizar la seguridad de tus paquetes.</p>
					</div>
				</div>

				<div class="content-box">
					<div class="content-box-img">
						<img src="img/newstyle/ecommerceok.png" width="135" height="153" alt="">
					</div>
					<div class="content-box-text">
						<h5>Tiendas Online</h5>
						<p>Somos una plataforma abierta a cualquier tienda online.Envíanos un correo con la información de la tienda de la que quieres recibir tus paquetes y nosotros te hacemos el deseo realidad.</p>
					</div>
				</div>

				<p><br></p>
            </div>
        </div>

        


            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>
</body>
</html>