<section class="empresarial">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="empresarial-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Boxit en Tu Local</h1>
			</div>
		</div>
        <p><br></p>
		<div class="row">
            <div class="col-md-10 col-md-offset-1">
				<p><strong>¡Estás interesado/a en colocar un Boxit para tu local!</strong></p>
				<p>Este es un gran paso para generar valor a tu negocio y tener una herramienta para tu comercio y  para tus clientes. Colocar un <strong>Boxit</strong> en tu local no solo te generará tráfico sino también es una plataforma abierta para potenciar tu comercio electrónico y automatizar las tareas de tu operación.</p>
				<p><br></p>
            </div>
        </div>
        
        <div class="row">
			<div class="col-md-12 text-center">
				<h2>Beneficios</h2>
			</div>
		</div>
		
        
        <div class="row beneficios">
            <div class="col-xs-12 col-md-4 text-center">
                <div class="beneficio">
                    <img class="img-responsive" src="img/newstyle/beneficios/trafico.png" alt="trafico">
                    <h4>Tráfico</h4>
                </div>                
            </div>
            <div class="col-xs-12 col-md-4 text-center">  
                <div class="beneficio">              
                    <img class="img-responsive" src="img/newstyle/beneficios/data.png" alt="data">
                    <h4>Data</h4>
                </div>
            </div>
            <div class="col-xs-12 col-md-4 text-center">  
                <div class="beneficio">              
                    <img class="img-responsive" src="img/newstyle/beneficios/separte.png" alt="separte">
                    <h4>Se parte de Nuestra red de Lockers y Servicios</h4>
                </div>
            </div>
        </div>


        <p><br></p>
        <div class="row">
            <div class="col-md-12 text-center">
                <p><br></p>       
            </div>
		</div>
		
		<div class="row">
            <div class="col-xs-12 col-md-6 text-center">
                <div class="tesstimonio">
                    <img class="img-responsive" src="img/newstyle/testimoniales/Milagros-Testimonio.png" alt="Afiliados">
                    
                </div>
                
            </div>
            <div class="col-xs-12 col-md-6 text-center">  
                <div class="tesstimonio">              
                    <img class="img-responsive" src="img/newstyle/testimoniales/Bovi-Testimonio.png" alt="Afiliados">
                </div>
            </div>
        </div>
        <p><br></p>
            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>
</body>
</html>