<html>
<head>
	<title></title>
</head>
<body>
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth Soon">
<div class="MainTitle">Enviar un paquete (Panam&aacute;)</div>

<div class="Description">
<div class="Text">Somos tu opci&oacute;n m&aacute;s pr&aacute;ctica, factible y f&aacute;cil para realizar env&iacute;os dentro del territorio nacional.<br />
Pronto <span>Boxit</span> revolucionar&aacute; el mercado E-commerce, sin espera ni limitaciones.<br />
Su paquete donde y cuando lo desee.</div>
</div>

<div class="Image" style="text-align: center;margin-bottom: 20px;"><img alt="" src="img/PaqueteEnviar.gif" /></div>

<div class="BoxReadMore">
<div class="Image"><img alt="" src="img/texto_enviar_paquete.png" /></div>

</div>

<div class="Logos">
<div class="Right"><img alt="" src="img/Slogan.png" /></div>
</div>
</div>
</div>

<div class="PageDescription">
<div class="MainDescription MaxWidth" style="margin-bottom: 0;">
<div class="Title">Documentos</div>

<div class="Description">
<div class="Text">&iquest;No puedes viajar?<br />
<br />
&iquest;Dejar un documento es imposible por el tr&aacute;fico?<br />
<br />
Con <span>Boxit</span> es muy sencillo, seguro y r&aacute;pido entregar encomiendas, solo debes estar suscrito a nuestra plataforma y elegir la ubicaci&oacute;n que mejor se adapte a ti y a tu tiempo, entregar paquetes y documentos con destinatarios definidos.<br />
El costo del servicio ser&aacute; cancelado por quien env&iacute;a el paquete. <span>MUY PRONTO!!!</span></div>
</div>

<div class="Title">Regalos sorpresa</div>

<div class="Description">
<div class="Text">&iquest;Eres de las personas que les gusta sorprender? &iquest;Te gustar&iacute;a ser sorprendido?<br />
<br />
<span>Boxit</span> es amor, diversi&oacute;n y felicidad... Te damos la oportunidad de sorprender a tus seres queridos o a ese amor plat&oacute;nico, ser&aacute;s amigo secreto perfecto.<br />
<br />
Sorprende con detalles, flores, chocolates, ropa o cualquier presente seg&uacute;n el tama&ntilde;o del locker.<br />
<br />
El costo del servicio se carga a quien env&iacute;a el paquete. <span>MUY PRONTO!!!</span></div>
</div>
<img alt="" src="img/envia_tu_paquete.png" style="right: -120px;" /></div>
</div>

<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_2_blue.png" style="" /></div>
</div>

<div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>

<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">ADEM&Aacute;S DE TODO; <span>BOXIT</span><br />
&iexcl;ES BIEN COOL!</div>
<img src="img/foto-Banner_4.png" /></div>
</div>
</body>
</html>