<section class="home iniciodesesion">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="iniciodesesion-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Preguntas Frecuentes</h1>
			</div>
		</div>

		<div class="ContentContainer MaxWidthData">
            <div class="FAQS">
                <div class="FAQ Selected">
                    <div class="Title">¿Debo tener una cuenta de email para usar Boxit?</div>
                    <div class="Text">Sí, es necesario que cuentes con una cuenta de correo electrónico para recibir el código de retiro único de tus compras y las notificaciones de rastreo o tracking de los paquetes.
                    </div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿A qué hora puedo retirar mis paquetes?</div>
                    <div class="Text">Nuestros Lockers Inteligentes están abiertos las 24 horas del día, los 365 días del año. Usted es dueño de su tiempo y privacidad en la compra.</div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿Cuantos días permanecen los paquetes en el Boxit?</div>
                    <div class="Text">La permanencia de tus paquetes en BOXIT es de 48 horas luego de recibir la notificación a arribo vía email. Una vez transcurrido ese tiempo el paquete será retirado y llevado a nuestra sede operativa donde dependiendo el caso se deba pagar un recargo por movimiento y acarreo.</div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿Cómo puedo registrarme?</div>
                    <div class="Text">
                        <ul>
                            <li>Dirígete a la sección de Regístrate</li>
                            <li>Rellena los espacios en blanco con la información solicitada.</li>
                            <li>Selecciona el Boxit donde prefieras retirar tus paquetes.</li>
                            <li>Recibirás un correo para que confirmes la cuenta y listo.</li>
                        </ul>
                    </div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿Cómo puedo comprar con efectivo (aplica exclusivamente para Amazon)?</div>
                    <div class="Text">
                        <ul>
                            <li>Ingresa a nuesta tienda BoxitStore.</li>
                            <li>Selecciona tus productos a comprar.</li>
                            <li>Ve a tu carrito de compras.</li>
                            <li>Haz click en pagar en efectivo.</li>
                            <li>Recibirás un correo electrónico con tu código de pago (también lo puedes ver en tu cuenta de usuario).</li>
                            <li>Paga en el Boxit directamente o en cualquiera de nuestros afiliados; nosotros hacemos el resto.</li>
                            <li>Recibirás un correo electrónico con tu código de retiro.</li>
                        </ul>
                    </div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿Puedo pagar yo mismo el producto y recibirlo en un Boxit?</div>
                    <div class="Text">Si, solamente ingresa la dirección de PO BOX Miami que te enviamos y nosotros hacemos el resto, Anuncia tu paquete para ayudarte con el rastreo o tracking</div>
                </div>
                <div class="FAQ">
                    <div class="Title">¿Qué Información de Aduanas debo saber?</div>
                    <div class="Text">







                            <p><b>Trámites Especiales</b></p>
                            <p><span style="font-weight: 400;">Son los procesos aplicables a artículos por tener algún tipo de restricción para salir de USA o necesitar permisos especiales para entrar al país, por ser considerados materiales sensibles. Los trámites especiales tienen un cargo adicional que se factura al cliente.</span></p>
                            <p><span style="font-weight: 400;">Puede leer más sobre los trámites especiales que requiere su mercancía dando clic en los siguientes apartados</span></p>
                            <p><span style="font-weight: 400;">Autoridad Panameña de Seguridad de Alimentos (AUPSA)</span></p>
                            <p><span style="font-weight: 400;">Es necesario para la importación de productos de consumo humano y animal. Es un proceso solicitado por la Autoridad Panameña de Seguridad de Alimentos.</span></p>
                            <p><span style="font-weight: 400;">Productos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Suplementos,</span></li>
                            <li><span style="font-weight: 400;">Dulces,</span></li>
                            <li><span style="font-weight: 400;">Galletas,</span></li>
                            <li><span style="font-weight: 400;">Sodas,</span></li>
                            <li><span style="font-weight: 400;">Vitaminas,</span></li>
                            <li><span style="font-weight: 400;">Dieteticos,</span></li>
                            <li><span style="font-weight: 400;">entre otros.</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Carta de Autorización</span></li>
                            <li><span style="font-weight: 400;">Factura Comercial</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega: 3 a 5 días hábiles.</span></p>
                            <p><span style="font-weight: 400;">Costo: $3 por notificación o descripción.</span></p>
                            <p><span style="font-weight: 400;">Límite: Hasta 3 Kilos de Suplementos o 5 Kilos de Alimentos 3 veces al año.</span></p>
                            <p> </p>
                            <p><b>Farmacias y Drogas</b></p>
                            <p><span style="font-weight: 400;">Necesario para la importación de productos catalogados como medicamentos y productos que tenga contacto con el cuerpo. Es un proceso solicitado por el Departamento Nacional de Farmacias y Drogas del Ministerio de Salud.</span></p>
                            <p><span style="font-weight: 400;">Productos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Medicamentos,</span></li>
                            <li><span style="font-weight: 400;">Cosméticos,</span></li>
                            <li><span style="font-weight: 400;">Cremas corporales,</span></li>
                            <li><span style="font-weight: 400;">Perfumes,</span></li>
                            <li><span style="font-weight: 400;">Shampoo,</span></li>
                            <li><span style="font-weight: 400;">entre otros</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Factura Comercial</span></li>
                            <li><span style="font-weight: 400;">Receta Médica (En el caso de medicamentos)</span></li>
                            <li><span style="font-weight: 400;">Copia de cédula o pasaporte</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Documentos a suministrar en caso de medicamentos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Nombre Comercial del Producto</span></li>
                            <li><span style="font-weight: 400;">Formato de Presentación (cápsulas; líquido, comprimidos, etc)</span></li>
                            <li><span style="font-weight: 400;">Formato de RX (mg, ml, gramos, onzas)</span></li>
                            <li><span style="font-weight: 400;">Cantidades</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Documentos a suministrar en caso de Productos de Usos Tópicos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Nombre Comercial del Producto</span></li>
                            <li><span style="font-weight: 400;">Formato de Presentación (cápsulas; líquido, comprimidos, etc)</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega: 20 a 25 días hábiles.</span></p>
                            <p><span style="font-weight: 400;">Costo: $8</span></p>
                            <p><span style="font-weight: 400;">Límite: Hasta 2 artículos por mes.</span></p>
                            <p> </p>
                            <p><span style="font-weight: 400;">Recomendaciones para la importación de sus medicamentos y productos de uso tópico.</span></p>
                            <p><span style="font-weight: 400;">A continuación, algunas recomendaciones que les damos para que usted pueda recibir sus medicamentos y artículos de uso tópico en tiempo:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Todo medicamento, o producto que tenga componente medicinal debe llevar una Receta Médica. </span></li>
                            <li><span style="font-weight: 400;">Siempre debe adjuntar su cédula o pasaporte. No son aceptados Carnés de Inmigración.</span></li>
                            <li><span style="font-weight: 400;">Siempre debe presentar factura adjunto con receta, si la misma no fue enviada directamente de una farmacia de los Estados Unidos.</span></li>
                            <li><span style="font-weight: 400;">Siempre debe presentar factura para todo producto de uso tópico -cremas para piel, cosméticos, shampoo o acondicionadores, aceites aromáticos, perfumes, repelentes, gotas para los ojos o cualquier producto que tenga contacto con la piel.</span></li>
                            <li><span style="font-weight: 400;">El trámite dura de 12 a 15 días hábiles, una vez iniciado el trámite ante Farmacias y Drogas. </span></li>
                            </ul>
                            <p> </p>
                            <p><span style="font-weight: 400;">Toda receta deberá cumplir con los siguientes requisitos generales:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Nombre de la institución de salud pública o médico que prescribe</span></li>
                            <li><span style="font-weight: 400;">Nombre completo del paciente, edad y fecha de prescipción</span></li>
                            <li><span style="font-weight: 400;">Nombre genérico y comercial del producto</span></li>
                            <li><span style="font-weight: 400;">Concentración o potencia, forma farmacéutica, vía de administración, cantidad dosis del producto, días de tratamiento. Cantidad y dosis recetada debe coincidir con los días de tratamiento.</span></li>
                            <li><span style="font-weight: 400;">Nombre completo, número de registro profesional, especialidad y teléfono de médico prescriptor.</span></li>
                            <li><span style="font-weight: 400;">Instrucciones de uso</span></li>
                            <li><span style="font-weight: 400;">Firma por puño y letra y con tinta del médico prescriptor.</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Para padecimientos crónicos el medico utilizará la receta de uso prolongado, la cual es válida para tres prescripciones de un mismo medicamento, correspondiente a 3 meses de tratamiento. Las recetas para uso prolongado deben incluir la leyenda “Receta de uso prolongado”</span></p>
                            <p><span style="font-weight: 400;">Esperamos que estas recomendaciones sean de utilidad y de esa forma su mercancía podrá ser tramitada de forma expedita.</span></p>
                            <p><span style="font-weight: 400;">Notas Importantes:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">El proceso de autorización para la importación de productos catalogados como medicamentos o drogas no es un proceso solicitado por MyBoxit, sino por el Departamento Nacional de Farmacias y Drogas del Ministerio de Salud. El costo por realizar este trámite con MyBoxit es de $8.</span></li>
                            </ul>
                            <p> </p>
                            <p><b>Trámite de Bomberos</b></p>
                            <p><span style="font-weight: 400;">Necesario para la importación de productos clasificados como inflamables. Es un proceso solicitado por el Departamento de Bomberos de Panamá.</span></p>
                            <p><span style="font-weight: 400;">Productos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Aceites,</span></li>
                            <li><span style="font-weight: 400;">Pinturas,</span></li>
                            <li><span style="font-weight: 400;">Derivados del petróleo,</span></li>
                            <li><span style="font-weight: 400;">entre otros.</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Copia de Cédula o Pasaporte</span></li>
                            <li><span style="font-weight: 400;">Factura de compra</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega: 3 a 5 días hábiles.</span></p>
                            <p><span style="font-weight: 400;">Costo: $ 15.00. (No incluye guía individual)</span></p>
                            <p> </p>
                            <p><b>Trámite de Cuarentena</b></p>
                            <p><span style="font-weight: 400;">Necesario para la importación de productos de madera, textiles o sus derivados, es un proceso solicitado por el Ministerio de Ambiente de Panamá.</span></p>
                            <p><span style="font-weight: 400;">Productos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Derivados de madera,</span></li>
                            <li><span style="font-weight: 400;">Alfombras de tela,</span></li>
                            <li><span style="font-weight: 400;">Papel o libros en volumen,</span></li>
                            <li><span style="font-weight: 400;">entre otros</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Carta de Autorización</span></li>
                            <li><span style="font-weight: 400;">Factura Comercial</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega: 3 a 5 días hábiles.</span></p>
                            <p><span style="font-weight: 400;">Costo: $15.00. (NO incluye liquidación individual)</span></p>
                            <p><span style="font-weight: 400;">NUEVAS DISPOSICIONES PARA EL MANEJO DE CARGA BAJO EL TRÁMITE DE CUARENTENA.</span></p>
                            <p><span style="font-weight: 400;">El Ministerio de Desarrollo Agropecuario de Panamá ha agregado los libros a la lista de productos de importación que requieren trámite de Cuarentena y ha dictado nuevas disposiciones para su manejo.</span></p>
                            <p> </p>
                            <p><span style="font-weight: 400;">Se permitirá la importación de pequeñas cantidades de libros sean nuevos o usados, sin pasar por este trámite de cuarentena. Si trae cajas de libros, aunque sean nuevos, deberán pasar por dicho trámite.</span></p>
                            <p> </p>
                            <p><span style="font-weight: 400;">Todos los paquetes que requieran trámite de cuarentena deberán ser procesador con guía individual. Para poder realizar el trámite, se requerirá de la factura comercial de los artículos a importar. Favor tomar nota de los tiempos, para garantizar la recepción de su mercancía.</span></p>
                            <p> </p>
                            <p><span style="font-weight: 400;">Para ingresar al sitio web del MIDA. </span></p>
                            <p> </p>
                            <p><b>Trámite de Gorgas</b></p>
                            <p><span style="font-weight: 400;">Necesario para la importación de productos reactivos de laboratorio, pruebas de embarazo es un proceso solicitado por el Ministerio de Salud de Panamá.</span></p>
                            <p><span style="font-weight: 400;">Productos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Reactivos,</span></li>
                            <li><span style="font-weight: 400;">Pruebas de embarazo,</span></li>
                            <li><span style="font-weight: 400;">entre otros</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Carta de Autorización</span></li>
                            <li><span style="font-weight: 400;">Factura Comercial</span></li>
                            <li><span style="font-weight: 400;">Cédula</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega: 3 a 5 días hábiles.</span></p>
                            <p><span style="font-weight: 400;">Costo: $25</span></p>
                            <p> </p>
                            <p><b>Trámite de Material Peligroso (HAZMAT)</b></p>
                            <p><span style="font-weight: 400;">Necesario previo el envío de productos que contienen componentes que requieren preparación o embalaje especial para ser transportados vía aérea o marítima. Este es un control estándar aeroportuario de seguridad internacional.</span></p>
                            <p><span style="font-weight: 400;">Necesario para el transporte de:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Desodorantes</span></li>
                            <li><span style="font-weight: 400;">Gels</span></li>
                            <li><span style="font-weight: 400;">Productos de belleza</span></li>
                            <li><span style="font-weight: 400;">Loción Corporal</span></li>
                            <li><span style="font-weight: 400;">Crema de Afeitar</span></li>
                            <li><span style="font-weight: 400;">Baterias de Lithium UN3480 (ion) y UN3090 (metal)</span></li>
                            <li><span style="font-weight: 400;">Enjuague bucal</span></li>
                            <li><span style="font-weight: 400;">Soluciones de limpieza no corrosivas</span></li>
                            <li><span style="font-weight: 400;">Esmalte de uñas</span></li>
                            <li><span style="font-weight: 400;">Envases de aerosol</span></li>
                            <li><span style="font-weight: 400;">Perfume</span></li>
                            <li><span style="font-weight: 400;">Candelas de aceite</span></li>
                            <li><span style="font-weight: 400;">Bloqueador solar</span></li>
                            <li><span style="font-weight: 400;">Endulzantes, saborizantes o colorantes de alimentos.</span></li>
                            <li><span style="font-weight: 400;">Amortiguadores</span></li>
                            <li><span style="font-weight: 400;">Bolsas de Aire</span></li>
                            <li><span style="font-weight: 400;">Cinturones de Seguridad</span></li>
                            <li><span style="font-weight: 400;">Lift Support</span></li>
                            <li><span style="font-weight: 400;">Compresores</span></li>
                            <li><span style="font-weight: 400;">Entre otros</span></li>
                            <li><span style="font-weight: 400;">Polvos de belleza</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Requisitos:</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Autorización por parte del cliente.</span></li>
                            <li><span style="font-weight: 400;">Factura Comercial</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Tiempo Estimado de Entrega:  Para el transporte de dicha mercancía ofrecemos dos viajes al mes, uno a mediados y otros a finales del mes.</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">1er Consolidado: Cierre 8 del mes. Carga disponible a partir del 20 de cada mes aproximadamente.</span></li>
                            <li><span style="font-weight: 400;">2do Consolidado: Cierre 20 del mes. Carga disponible a partir del 08 de cada mes aproximadamente.</span></li>
                            <li><span style="font-weight: 400;">Consolidad Especial Baterías, viaja los miércoles y viernes de cada semana.</span></li>
                            </ul>
                            <p><span style="font-weight: 400;">Costo: Cargo adicional que oscilan entre $ 10.00 A $ 20.00 por paquete. Tarifas para envíos aéreos. Si el envío se hace a través de transporte marítimo se le aplicarán los cargos de HAZMAT marítimo.</span></p>
                            <p><span style="font-weight: 400;">Nota: Artículos como compresores, o de gran volumen que requieran un tipo de embalaje especial o su clasificación como Hazmat es único dentro del consolidado el cargo adicional será de $ 100.00</span></p>
                            <p><span style="font-weight: 400;">Productos Prohibidos</span></p>
                            <p><span style="font-weight: 400;">Cualquier material inflamable, explosivo o corrosivo. Incluye a cualquier sustancia, ya sea sólido, líquido o gaseoso, y que tiene las características de causar daños a la salud, los bienes, y/o al medio ambiente; puede ser un producto químico, agente físico o biológico (organismos vivientes).</span></p>
                            <ul>
                            <li><span style="font-weight: 400;">Municiones</span></li>
                            <li><span style="font-weight: 400;">Gas</span></li>
                            <li><span style="font-weight: 400;">Semillas</span></li>
                            <li><span style="font-weight: 400;">Gas lacrimógeno o de pimienta</span></li>
                            <li><span style="font-weight: 400;">Plantas</span></li>
                            <li><span style="font-weight: 400;">Encendedores</span></li>
                            <li><span style="font-weight: 400;">Productos perecederos</span></li>
                            <li><span style="font-weight: 400;">Baterías que contengan productos químicos</span></li>
                            <li><span style="font-weight: 400;">Explosivos</span></li>
                            <li><span style="font-weight: 400;">Venenos</span></li>
                            <li><span style="font-weight: 400;">Soluciones de limpieza</span></li>
                            <li><span style="font-weight: 400;">Envases a presión</span></li>
                            <li><span style="font-weight: 400;">Fuegos artificiales y pólvora</span></li>
                            <li><span style="font-weight: 400;">Cualquier artículo con alcohol como primer ingrediente</span></li>
                            <li><span style="font-weight: 400;">Fósforos</span></li>
                            <li><span style="font-weight: 400;">Cigarrillos Electrónicos y sus Accesorios</span></li>
                            <li><span style="font-weight: 400;">Animales vivos</span></li>
                            <li><span style="font-weight: 400;">Herramientas que funcionen con gas</span></li>
                            <li><span style="font-weight: 400;">Armas y sus partes</span></li>
                            <li><span style="font-weight: 400;">Medicinas controladas, drogas y estupefacientes</span></li>
                            <li><span style="font-weight: 400;">Mira telescópica Infrarrojo</span></li>
                            <li><span style="font-weight: 400;">Suplementos Dietéticos que contengan Dimethylamylamine (DMAA) .</span></li>
                            <li><span style="font-weight: 400;">Plaguicidas, pesticidas, agroquímicos, fertilizantes</span></li>
                            <li><span style="font-weight: 400;">Vaporizadores y sus accesorios </span></li>
                            <li><span style="font-weight: 400;">Pipas y sus accesorios</span></li>
                            <li><span style="font-weight: 400;">Cannabis</span></li>
                            <li><span style="font-weight: 400;">Entre otros. </span></li>
                            </ul>





                        
                    </div>
                </div>
			</div>
		</div>
	</div>
</section>
