<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="BarHeader Content">
<div class="BarHeaderContainer ContentContainer MaxWidth">
<div class="Text"><span>Farmacia y Droga</span></div>
<img alt="" src="img/image_headerbar_1.png" /></div>
</div>

<div class="ContentContainer MaxWidthData">&nbsp;
<div align="justify" class="Text">Este trámite se realiza con el <b>MINSA</b> y es necesario para todo producto que tenga contacto con el cuerpo tales como: medicamentos, cosméticos, cremas para el cuerpo, perfumes, reactivos y otros.<br />
<br />
El tiempo de trámite de Farmacia en estos momentos está tomando alrededor de 20 a 25 días hábiles.
<br /><br />
Los requisitos para el trámite de farmacia son los siguientes:
<br /><br />
<ul>
	<li><b>Carta de autorización con firma original:</b><br />
En donde se solicita el permiso para la importación como consumo personal, dirigida a la Licenciada. Jenny E. Vergara, Directora Nacional de Farmacia y Drogas. Está carta será proporcionada sólo para firma del cliente. Sólo se aceptan cartas firmadas en original.
</li>
	<li><b>Factura comercial:</b><br />
Se debe presentar la factura comercial del artículo comprado. La información en la factura debe ser legible.
</li>
	<li><b>Receta médica:</b><br />
Si el trámite que se va a realizar es de medicamentos, es necesaria una receta médica. Dicha receta debe ser prescrita por un médico Panameño o Americano. Solo aplica para trámite de medicamentos.
</li>
</ul>
<br />
<b>Información Importante:</b>
<br /><br />
<b>Documentos a suministrar en caso de medicamentos:</b>
<ul>
	<li>Nombre Comercial del Producto</li>
	<li>Formato de Presentación (cápsulas; líquido, comprimidos, etc)</li>
	<li>Formato de RX (mg, ml, gramos, onzas)</li>
    <li>Cantidades</li>
</ul>
<br />
<b>Documentos a suministrar en caso de Productos de Usos Tópicos:</b>
<ul>
	<li>Nombre Comercial del Producto</li>
	<li>Formato de Presentación (cápsulas; líquido, comprimidos, etc)</li>
</ul>
<br />
<b>Notas Importantes:</b>
<br /><br />
<ul>
<li>El proceso de autorización para la importación de productos catalogados como medicamentos o drogas no es un proceso solicitado por MyBoxit, sino por el Departamento Nacional de Farmacias y Drogas del Ministerio de Salud. El costo por realizar este trámite es de $15</li>
<li>Si desea estar informado de los productos controlados por el Departamento de Farmacias y Drogas, visite su sitio web en el siguiente enlace http://www.minsa.gob.pa/informacion-salud/farmacia-y-drogas</li>
<li>La Dirección Nacional de Farmacias y Drogas, ha confirmado que el proceso de tramitación del permiso de importación para artículos restringidos como: medicamentos, perfumería, cremas y otros productos de contacto con la piel, está demorando más del periodo regular</li>
<li>Este proceso está tomando alrededor de 3 a 4 semanas</li>
<li>Estamos tomando medidas en conjunto con la Dirección Nacional de Farmacias y Drogas para agilizar el proceso</li>
<li>Le pedimos a nuestros clientes que realicen sus compras considerando el tiempo de este trámite</li>
<li>Lamentamos mucho este inconveniente y esperamos su pronta resolución</li>
</ul>
<br />
<b>Recomendaciones:</b>
<br /><br />
<ul>
<li>Todo medicamento, o producto que tenga componente medicinal debe llevar una Receta Médica. Esta puede ser expedida por un médico panameño</li>
<li>Si usted cuenta con la receta favor proporcionarla una vez le enviemos la carta a firmar para presentación del trámite</li>
<li>Siempre debe adjuntar su cédula o pasaporte. No son aceptados Carnets de Migración</li>
<li>Siempre debe presentar factura adjunto con receta, si la misma no fue enviada directamente de una farmacia de los Estados Unidos</li>
<li>Siempre debe presentar factura para todo producto de uso tópico -cremas para piel, cosméticos, shampoo o acondicionadores, aceites aromáticos, perfumes, repelentes, gotas para los ojos o cualquier producto que tenga contacto con la piel</li>
<li>El trámite dura de 12 a 15 días hábiles, una vez iniciado el trámite ante Farmacias y Drogas</li>
</ul>
<br /><br />
&nbsp;</div>
</div>
</body>
</html>