<div class="row">
	<div class="container">
		<div class="row">

			<!--<div class="col-4">
				<img class="logo-footer img-responsive" src="img/newstyle/logo-boxit_footer_blanco.png" alt="Boxit" class="svg"/>
			</div>-->
	
			<div class="col-md-3 col-xs-12 text-center" id="footer-social">
				<img style="padding-bottom: 10px" class="logo-footer img-responsive" src="img/newstyle/logo-boxit_footer_blanco.png" alt="Boxit" class="svg"/>
				<a href="https://www.facebook.com/MyboxitOnline/"><i class="fa fa-facebook" target="_blank"></i></a>
				<a href="https://www.instagram.com/MyboxitOnline/" target="_blank" style="padding-bottom: 10px"><i class="fa fa-instagram"></i></a>
			</div>

			<div class="col-md-3 col-xs-12 footer-nav">
				<ul>
					<li style="padding-bottom: 10px"><a ui-sref="home" class="link-compra navbarlink">Compra</a></li>
					<li style="padding-bottom: 10px"><a ui-sref="home" class="link-boxitentulocal navbarlink">Boxit en tu Local</a></li>
					<li style="padding-bottom: 10px"><a ui-sref="faq" class="link-informacion-faq navbarlink">Preguntas Frecuentes</a></li>
					<li style="padding-bottom: 10px"><a ui-sref="home" class="link-ubicaciones navbarlink">Ubicaciones</a></li>
				</ul>
			</div>

			<div class="col-md-3 col-xs-12 footer-nav">
				<ul>
					<!--<li><a class="btn btn-store navbarlink" ui-sref="boxitStore"><span><span>bo</span>xit</span>Store</a></li>	-->
					<li class="li-boxitstore" style="padding-bottom: 10px"><a class="btn-boxitstore navbarlink" ui-sref="boxitStore"><span>boxitstore</span></a></li>
									
					<li style="padding-bottom: 10px"><a ui-sref="terminosycondiciones">Términos y condiciones</a></li>
					<li style="padding-bottom: 10px"><a ui-sref="contactanos" class="navbarlink">Contacto</a></li>
				</ul>
			</div>


			

			<div class="col-md-3 col-xs-12 text-center" id="footer-signup">
				<p class="enterate">Recibe lo último en Compras por Internet</p>
				<form action="">
					<input type="email" class="form-control" placeholder="Correo Electrónico">
					<button type="submit" class="btn btn-primary">Subscríbete</button>
				</form>
			</div>
			
		</div>

		<div class="row">
			<div class="col-md-12">
				<p id="copyright">Copyright 2018 - Boxit</p>
			</div>
		</div>
	</div>
</div>