<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
</head>
<body>
<header class="MaxWidth desktop">
<div class="Language">
<div class="SelectLanguage">
<div class="Text">Espa&ntilde;ol (ESP)</div>

<div class="Arrow"></div>

<div class="Languages">
<div class="Language Selected" id="ESP">Espa&ntilde;ol (ESP)</div>

<div class="Language" id="ING">Ingles (ING)</div>

<div class="Language" id="FRA">Frances (FRA)</div>
</div>
</div>
</div>

<div class="Logo"><a href="../indexOld.html"><img alt="Boxit" src="../img/logo-boxit_Menu.png" title="Boxit" /> </a></div>

<div class="Menu">
<ul>
	<li><a href="#">SERVICIOS</a>

	<div class="SubMenu">
	<div class="SubMenuContainer">
	<div class="Arrow">
	<div></div>
	</div>

	<ul>
		<li><a href="../Nosotros.html">&iquest;Qu&eacute; es Boxit?</a></li>
		<li><a href="../Retiro.html">Retiro de paquete</a></li>
		<li><a href="../Devolucion.html">Devoluci&oacute;n de compra</a></li>
		<li><a href="../Enviar.html">Enviar un paquete</a></li>
		<li><a href="../Pagoservicio.html">Paga tus servicios</a></li>
	</ul>
	</div>
	</div>
	</li>
	<li><a href="#">PRECIOS</a></li>
    <li><a href="#">INFORMACIÓN</a>
	<div class="SubMenu">
	<div class="SubMenuContainer">
	<div class="Arrow">
	<div></div>
	</div>
	<ul>
		<li><a href="../faq.html">Preguntas Frecuentes</a></li>
		<li><a href="#">Productos Prohibidos</a></li>
		<li><a href="#">Farmacia y Drogas</a></li>
		<li><a href="#">Material Peligroso</a></li>
		<li><a href="#">Trámites Especiales</a></li>
	</ul>
	</div>
	</div>
	</li>
	<li><a href="../contactanos.html">CONTACTANOS</a></li>
	<li><a href="../BoxitStore.html">MY BOXIT STORE AMAZON</a></li>
</ul>
</div>

<div class="UserAccountOptions">
<div class="Button"><a href="../Iniciarsesion.html">INICIA SESI&Oacute;N</a></div>

<div class="Button WithBackground"><a href="../Registro.html">REG&Iacute;STRATE</a></div>
</div>
</header>

<div class="Mobile">
<div class="Top">
<div class="Menu"><img alt="Cart" src="../img/IconMenuBurger.svg" title="Cart" /></div>

<div class="Organization"><a href="./"><img alt="Boxit" src="../img/logo-boxit_XIT_blanco.png" title="Boxit" /> </a></div>
</div>
</div>

<div class="MobileMenu">
<div class="Menu">
<div class="Header">
<div class="Close">X</div>
</div>

<div class="Groups">
<div class="Group">
<div class="Header">SERVICIOS</div>

<div class="Options">
<div class="Option"><a href="Nosotros.html">&iquest;Qu&eacute; es Boxit?</a></div>

<div class="Option"><a href="Retiro.html">Retiro de paquete</a></div>

<div class="Option"><a href="Devolucion.html">Devoluci&oacute;n de compra</a></div>

<div class="Option"><a href="Enviar.html">Enviar un paquete</a></div>

<div class="Option"><a href="Pagoservicio.html">Paga tus servicios</a></div>
</div>
</div>

<div class="Group">
<div class="Header"><a href="#">PRECIOS</a></div>
</div>

<div class="Group">
<div class="Header"><a href="faq.html">FAQ</a></div>
</div>

<div class="Group">
<div class="Header"><a href="contactanos.html">CONTACTANOS</a></div>
</div>

<div class="Group">
<div class="Header"><a href="#">MY BOXIT STORE AMAZON</a></div>
</div>

<div class="Group">
<div class="Header">DATOS DE USUARIO</div>

<div class="Options">
<div class="Option"><a href="Iniciarsesion.html">Iniciar sesi&oacute;n</a></div>

<div class="Option"><a ui-sref="registro">Registrarse</a></div>
</div>
</div>
</div>
</div>

<div class="Overlay"></div>
</div>

<div class="BarHeader Content">
<div class="BarHeaderContainer ContentContainer MaxWidth">
<div class="Text"><span>Area de usuario.</span></div>
<img alt="" src="./img/image_headerbar_1.png" /></div>
</div>
</body>
</html>