<section class="home">

    <div id="home-slider">

        <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-1.jpg');">
            <div class="video-background_jode">
                <div class="video-foreground_nono">
                    <video id="mivideonocomienza" style="min-width: 100%; min-height: 100%;" src="video/file.mp4" autoplay muted loop playsinline preload="none">
                    </video>
                    
                    <!--<iframe id="slide1Video" src="https://www.youtube.com/embed/uFf415Epa60?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=uFf415Epa60" frameborder="0" allowfullscreen></iframe>-->
                    <!--<iframe id="slide1Video" src="https://www.youtube.com/embed/bAo2ZjMjIlI?controls=0&showinfo=0&rel=0&autoplay=1&mute=1&loop=1&playlist=bAo2ZjMjIlI" frameborder="0" allowfullscreen></iframe>-->
                
                </div>
            </div>
            <div class="container">
                <div class="row align-v slide-text">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Así de <span>simple</span> es Boxit</h1>
                        <p></p>
                        <a ui-sref="registro" class="btn homecreatucuenta">Crea tu cuenta</a>
                    </div>
                </div>
            </div>
        </div>
  
      <!--  <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-2.jpg');">
           
        </div>-->
    
       <!-- <div class="home-slide" style="background-image: url('img/newstyle/slides/slide-3.jpg');">
            <div class="container">
                <div class="row align-v slide-text">
                    <div class="col-md-10 col-md-offset-1">
                        <h1>Así de <span>confiable</span> es Boxit</h1>
                        <p>Cada vez son más las empresas y emprendedores que confían y utilizan Boxit para activar su comercio electrónico</p>
                    </div>
                </div>
            </div>
        </div>
    -->
    </div>
<!--
    <div class="container-fluid" id="about-box">
    
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¿Qué es Boxit?</h1>
            </div>
        </div>
    
        <div class="row">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <p>Boxit es una solución innovadora para tus compras por internet. Una red de Lockers Inteligentes que funcionan como puntos de recolección para el comercio electrónico. Al registrarte en Boxit tendrás acceso a multiples beneficios que no solo se limitan a compras en USA, también podrás accceder a las tiendas locales que utilizan nuestra tecnología para vender sus productos. Dile adiós a las filas y recoge tus paquetes en el horario que más te convenga.</p>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row">
            <div class="col-md-12 text-center">
                <h2>Afiliados</h2>
                <img src="img/newstyle/home/afiliados.png" alt="Afiliados">
            </div>
        </div>
        
    </div>
-->

    <section class="how-it-works" id="how-it-works">
        <div class="max-width-container">
            <div class="media-container"></div>
            <div class="content lockers-right">
                <h2>¿Qué es Boxit?</h2>
                <span class="description ">
                    <p>Boxit es una solución innovadora para que puedas realizar tus compras por internet de una forma más económica y conveniente. Al formar parte de la familia Boxit tendrás acceso a múltiples beneficios para tus compras de productos en tiendas en USA y tiendas locales.</p>
                    <p>Nuestra red de Lockers Inteligentes ubicados en diferentes puntos de la ciudad te dan una nueva experiencia de compra al retirar tus paquetes sin filas, a la hora que mejor te convenga y de forma automatizada.</p>
                    <a ui-sref="home" class="link-lockersinteligentes" style="color:black;"><u>¿Qué es un Locker Inteligente?</u></a>
                </span>
            </div>
        </div>        
    </section>
    <section class="afiliados">
        <div class="container">
            <div class="row">
                <div class="col-md-12"><p><br></p></div>
                <div class="col-md-12 text-center">                    
                    <img class="img-responsive home-afiliados" src="img/newstyle/home/afiliados.png?v=100" alt="Afiliados">
                </div>
                <div class="col-md-12"><p><br></p></div>
            </div>
        </div>
    </section>

       <div class="container-fluid" id="home-main">    
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>¿Cómo Comprar en Boxit?</h1>
            </div>
        </div>    
        <div class="row">

            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step" >
                <article>
                    <h2>1</h2>
                    <h3>Elige tu Compra</h3>
                    <img class="img-responsive imgcenter " src="img/newstyle/home/compra.png" alt="Compra" width="300px" align="center">
                    <p>Usa nuestro BoxitStore para escoger los productos que deseas comprar o envíanos la información por whatsapp.</p>
                </article>
            </div>
            
            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step">
                <article>
                    <h2>2</h2>
                    <h3>Paga</h3>
                    <img class="img-responsive imgcenter" src="img/newstyle/home/elige.png" alt="Compra" width="300px" align="center">
                    <p>Ve al Boxit más cercano y haz el pago en EFECTIVO con la clave que te enviamos por correo.</p>
                </article>
            </div>            
            <div class="col-md-4 col-md-offset-0 col-sm-10 col-sm-offset-1 home-step">
                <article>
                    <h2>3</h2>
                    <h3>Retira</h3>
                    <img class="img-responsive imgcenter" src="img/newstyle/home/retira.png" alt="Compra" width="300px" align="center">
                    <p>Cuando llega tu compra al Boxit de tu preferencia, te enviamos un correo con la clave de retiro. Puedes ir cuando más te convenga, 24/7. ¡Sencillo!</p>
                </article>
            </div>    
        </div>
        <div class="row text-center">            
        </div>    
       <div class="row cta-row">
            <a ui-sref="registro" class="btn btn-celeste">Crea tu Cuenta</a>            
        </div>  
    </div>

    <div class="container-fluid text-center" id="ubication-box">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1>Ubicaciones</h1>
            </div>
        </div>
    <!--    --> 
        <div class="row" id="home-map"></div>
    
        <div class="row" id="home-insta">
            <div class="col-sm-12" id="instafeed">
            </div>
            <div class="col-xs-12 text-center text-uppercase">
                <a href="https://www.instagram.com/MyboxitOnline/" target="_blank" id="insta-link"><i class="fa fa-instagram"></i>Síguenos @myboxitonline</a>
            </div>
        </div>
    
    </div>
    
    <div class="container text-center" id="pre-foot">
        <div class="row">
            <p>Todo el comercio electrónico en un solo lugar</p>
            <a class="btn btn-primary btn-lg" ui-sref="registro">Crea tu cuenta ya</a>
        </div>
    </div>
    
    
    <div class="container-fluid text-left" id="smartlocker-boxit">
            <div class="row">
                        <div class="col-md-5 col-sm-5" id="smartlocker-boxit-left">
                           
                        </div>
                        <div class="col-md-7 col-sm-7">
                            <div class="lockers-right">
                                <h2>¿Qué son Lockers Inteligentes?</h2>
                                <p>Nuestros Lockers Inteligentes son plataformas de autoservicio donde las personas retiran sus paquetes de forma automatizada sin necesidad de interacción humana. Con tecnología avanzada hemos integrado diversas funcionalidades para crear una experiencia grandiosa para el cliente.</p>
                                <div class="lockers-beneficios">
                                 <div class="row" align="center" >
                                <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 ">
                                    <img class="img-responsive" src="img/newstyle/home/lockerinteligente2.png" alt="Afiliados" width="200px" height="auto" align="center">
                                    <article>
                                        <h3>Conveniencia</h3>
                                        <p>Retiros y Entregas 24/7.</p>
                                    </article>
                                  </div>                                
                                <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                                    <img class="img-responsive " src="img/newstyle/home/lockerinteligente3.png" alt="Afiliados" width="200px" height="auto">
                                    <article>
                                        <h3>Ahorro</h3>
                                        <p>Reduce costos de entrega.</p>
                                    </article>
                                </div>         
                             </div>
                             <div class="row" align="center">
                                <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1 ">
                                    <img class="img-responsive" src="img/newstyle/home/lockerinteligente4.png" alt="Afiliados" width="200px" height="auto" align="center">
                                    <article>
                                        <h3>Accesibilidad</h3>
                                        <p>Red de Ubicaciones en diferentes puntos de la ciudad.</p>
                                    </article>
                                  </div>                                
                                <div class="col-md-6 col-md-offset-0 col-sm-10 col-sm-offset-1">
                                    <img class="img-responsive " src="img/newstyle/home/lockerinteligente1.png" alt="Afiliados" width="200px" height="auto">
                                    <article>
                                        <h3>Eficiencia</h3>
                                        <p>Reduce tiempos de entrega. No más entregas fallidas.</p>
                                    </article>
                                </div>         
                             </div>
                         </div>
                            </div>
                        </div>
            </div>
        </div>

        <div class="container-fluid text-left" id="host-boxit">                
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p><img class="host-boxit-img" src="img/newstyle/logo-boxit_Menu.png" alt="Boxit"></p>
                    <p id="host-cta">Ubica un Boxit en tu local</p>
                    <p><strong>¡Estás interesado/a en colocar un Boxit para tu local!</strong></p>
                    <p class="texto-largo">Este es un gran paso para generar valor a tu negocio y tener una herramienta para tu comercio y  para tus clientes. Colocar un <strong>Boxit</strong> en tu local no solo te generará tráfico sino también es una plataforma abierta para potenciar tu comercio electrónico y automatizar las tareas de tu operación.</p>
                    <a ui-sref="contactanos" class="btn btn-celeste">Contactanos</a>                            
                </div>
            </div>
        </div>
        
	<script src="js/mapaLockers.js" type="text/javascript"></script>	
           
<script type="text/javascript">
$(document).ready(function() {
    
	// INSTAGRAM
    var feed = new Instafeed({
        get: 'user',
        userId: '3036829059',
        accessToken: '3036829059.1677ed0.4c591d3becd54564b58daa7bc16cf5a0',
        limit: 4,
        resolution: 'standard_resolution',
        template: '<a class="insta-block" href="{{link}}" target="_blank"><img src="{{image}}" /></a>'
    });
    feed.run();

    // Make all image blocks square
    var instaWidth;
    setTimeout(function() {
	    $('.insta-block').each(function() {
	    	instaWidth = $(this).width();
	    	$(this).css('height', (instaWidth + 'px'));
	    });
    }, 1000);

    $(window).resize(function() {
    	$('.insta-block').each(function() {
	    	instaWidth = $(this).width();
	    	$(this).css('height', (instaWidth + 'px'));
	    });
    });
    
	// HOME SLIDER
	$('#home-slider').slick({
		arrows: false,
		dots: true,
		fade: true,
		pauseOnFocus: false,
		pauseOnHover: false
	});

	/*setTimeout(function() {
		$('#home-slider').slick('slickPlay');
	}, 6000);*/
	var navbarAffixHeight=120;
    $('a.link-lockersinteligentes').on('click', function(event) {
    setTimeout(goToHomelockersinteligentes, 200);       
    });
    function goToHomelockersinteligentes(){
        var target = $('#smartlocker-boxit');   
        $('html,body').animate({
            scrollTop: (target.offset().top - navbarAffixHeight + 1)
        }, 1000);
    }
});

$(document).ready(function () {
	//document.getElementById('myvideo').play();
	var playPromise = document.getElementById('mivideonocomienza').play();
	if (playPromise !== undefined) {
		playPromise.then(_ => {
			console.log('play');
		})
		.catch(error => {
			console.log('error', error);
			document.getElementById('myvideo').play();
		});
	}
});

</script>
