<div class="modal-header" ng-init="changeModal()">

    <div class="row">

        <div class="col-lg-1">

            <button class="btn btn-default pull-left" ng-click="goBack()" ng-disabled="checkout"><span

                    class="glyphicon glyphicon-chevron-left"></span></button>

        </div>

        <div class="col-lg-8 col-lg-offset-1" ng-show="shopping">

            <h2 class="text-center modal-title">Shopping Cart</h2>

        </div>

        <div class="col-lg-8 col-lg-offset-1" ng-show="loggin">

            <h2 class="text-center modal-title">Log In</h2>

        </div>

        <div class="col-lg-9" ng-show="checkout">

            <h2 class="text-center modal-title">CheckOut</h2>

        </div>

        <div class="col-lg-2">

            <button class="btn btn-default pull-right" ng-click="closeModal()"><span

                    class="glyphicon glyphicon-remove"></span></button>

        </div>

    </div>

</div>



<div class="modal-body">
    <div ui-view="modal" ng-show="!showTerms"></div>
    <div class="container" ng-show="showTerms" ng-include="'views/terms.html'">
    </div>
</div>

<div class="modal-footer">
    

    <!--
    <div class="col-lg-3 col-xs-12" ng-show="shopping && !showTerms">
        <button ng-click="openAmazon()"  class="btn btn-lg btn-warning" type="button" ng-disabled="userNotLogged">Pagar con tarjeta de crédito</button>
    </div>
    <div class="col-lg-1 col-xs-0" ng-show="shopping && !showTerms">
    </div>
    <div class="col-lg-3 col-xs-12" ng-show="shopping && !showTerms">
        <button class="btn btn-lg btn-danger" ng-click="clearShoppingCar()">Limpiar carrito</button>
    </div>
    <div class="col-lg-1 col-xs-0" ng-show="shopping && !showTerms"></div>
    <div class="col-lg-5 col-xs-12" ng-show="shopping && !showTerms">
        <div class="input-group input-group-lg">
            <span class="input-group-addon">Total</span>
            <span id="total" class="form-control" ng-bind="subTotal"></span>
            <span class="input-group-btn">
                <button class="btn btn-success" type="button" ng-click="purchase()">Pagar en efectivo</button>
            </span>
        </div>
    </div>
-->



    <div class="col-lg-2 col-lg-offset-3 col-xs-12" ng-show="showTerms">

        <button class="btn btn-lg btn-danger" ng-click="goBack()">Cancelar</button>

    </div>

    <!--    <div class="col-lg-6" ng-show="showTerms"></div>-->

    <div class="col-lg-3 col-lg-offset-1 col-xs-12" ng-show="showTerms">

        <button class="btn btn-lg btn-success" ng-click="purchase()">Aceptar</button>

    </div>

    <div class="col-lg-offset-6 col-lg-5 col-xs-12" ng-show="checkout">

        <button class="btn btn-lg btn-success" ng-click="closeModal()">Cerrar</button>

    </div>

</div>