<!--[if lt IE 8]>
				<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
			<![endif]-->

			<div class="container-fluid">

				<div class="navbar-header">
				  <button onclick="navbartoggle()" type="button" class="navbar-toggle collapsed">
					<span class="sr-only">Ver navegación</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				  </button>
				  <a class="navbar-brand" ui-sref="home">
					<img src="img/newstyle/BoxitLogoNuevo.svg" class="svg" alt="Boxit"/>
				  </a>
				</div>

				<div id="navbar" class="swipe-area">
					<div class="navbar-right-inner">


	  
						<div class="usuariotop-right">
							<div class="link">
								<a ng-show="!loged"  ui-sref="iniciarSesion" class="navbarlink iniciosesion">Inicia sesión</a>
								<a ng-show="loged" ui-sref="home" ng-click="cerrarSesion()" class="navbarlink iniciosesion">Cerrar sesión</a>
							</div>
							<div class="link">
								<a class="btn-cuenta navbarlink" ng-show="!loged" ui-sref="registro">Crea tu Cuenta</a>
								<a class="btn-cuenta navbarlink" ng-show="loged" ui-sref="iniciarSesion" ng-click="iniciarSesion()">Área Usuario</a>
							</div>
						</div>

						<div style="clear: both;"></div>


					
						<ul class="nav navbar-nav navbar-middle">
								<li><a ui-sref="home" class="link-compra navbarlink">Compra</a></li>
								<!--<li class=""><a class="link-vende" ui-sref="vende">Vende</a></li>-->
							<li class="dropdown">
							<a class="dropdown-toggle link-empresarial" data-toggle="dropdown">Empresarial</a>
							<ul class="dropdown-menu">
								<!--<li class="dropdown-item"><a ui-sref="empresarial-boxit-residencial" class="link-empresarial-residencial">Boxit Residencial</a></li>-->
								<li class="dropdown-item"><a ui-sref="home" class="link-boxitentulocal navbarlink">Boxit en tu local</a></li>
							</ul>
							</li>
							
							<li class="dropdown">
									<a class="dropdown-toggle link-informacion" data-toggle="dropdown">Información</a>
									<ul class="dropdown-menu">
									<li class="dropdown-item"><a ui-sref="faq" class="link-informacion-faq navbarlink">Preguntas Frecuentes</a></li>
									<!--<li class="dropdown-item"><a ui-sref="nosotros" class="link-informacion-nosotros">Nosotros</a></li>-->
									<li class="dropdown-item"><a ui-sref="home" class="link-ubicaciones navbarlink">Nuestras Ubicaciones</a></li>
									<!--<li class="dropdown-item"><a ui-sref="blog" class="link-informacion-blog">Blog</a></li>-->
									<!--<li class="dropdown-item"><a ui-sref="prensa" class="link-informacion-prensa">Prensa</a></li>-->
									</ul>
								</li>						
							
							<li class="navbar-contactanos"><a class="link-contacto" ui-sref="contactanos" class="navbarlink">Contacto</a></li>
							<li><a class="btn-boxitstore navbarlink" ui-sref="boxitStore"><span>boxitstore</span></a></li>
							<!--<li><a class="btn btn-store navbarlink" ui-sref="boxitStore"><span><span>bo</span>xit</span>Store</a></li>-->
							
						</ul>		
				




						<div class="phones-right">	
							<div class="navbar-phones">
								<div class="navbar-phones-div">
									<div class="customLabelPhone"><i class="fa fa-phone"></i> (507) 317-1014</div>
									<div class="customLabelPhone"><i class="fa fa-whatsapp"></i> (507) 63494559</div>
									<div class="customLabelPhone"><i class="fa fa-envelope"></i> hello@myboxit.com</div>
								</div>
							</div>
						</div>	

<!--
					<li ng-show="!loged"><a class="btn btn-secondary" ui-sref="iniciarSesion">Inicia sesión</a></li>
					<li ng-show="loged"><a class="btn btn-secondary" ui-sref="home" ng-click="cerrarSesion()">Cerrar sesión</a></li>
		
					<li ng-show="loged"><a class="btn btn-primary" ui-sref="iniciarSesion">Área de Usuario</a></li>
					<li ng-show="!loged"><a class="btn btn-primary" ui-sref="registro">Regístrate</a></li>
-->

				 	  
						<!--<div class="usuariotop-right">
							<div class="link">
								<a ng-show="!loged"  ui-sref="iniciarSesion" class="navbarlink iniciosesion">Inicia sesión</a>
								<a ng-show="loged" ui-sref="home" ng-click="cerrarSesion()" class="navbarlink iniciosesion">Cerrar sesión</a>
							</div>
							<div class="link">
								<a class="btn-cuenta navbarlink" ng-show="!loged" ui-sref="registro">Crea tu Cuenta</a>
								<a class="btn-cuenta navbarlink" ng-show="loged" ui-sref="iniciarSesion" ng-click="iniciarSesion()">Área Usuario</a>
							</div>
						</div>  -->
						<div class="giftcards-right">
							<div class="navbar-giftcards navbarlink"><a ui-sref="giftcards" class="link-giftcards">Gift Cards</a></div>
						</div>						  
						<!--<div class="rusia2018-right navbarlink">
							<div class="navbar-rusia2018"><a ui-sref="rusia2018"><img src="img/newstyle/mundialrusia2018.png"/></a></div>
						</div>-->	
					</div>			
				</div><!--/.nav-collapse -->
            </div><!--/.container-fluid -->
<script type="text/javascript">
$(document).ready(function() {

	function goToTopBody(){
		$('html,body').animate({
			scrollTop: (1)
		}, 1000);
	}

    var navbarAffixHeight=120;



	$('a.btn-cuenta').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//event.preventDefault();
		/*setTimeout(goToHomeMain, 200);	*/	
		return false;
	});


	$('a.iniciosesion').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//event.preventDefault();
		/*setTimeout(goToHomeMain, 200);	*/	
		return false;
	});



	$('a.link-contacto').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//event.preventDefault();
		/*setTimeout(goToHomeMain, 200);	*/	
		return false;
	});


		$('a.btn-boxitstore').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//event.preventDefault();
		/*setTimeout(goToHomeMain, 200);	*/	
		return false;
	});




	$('a.link-compra').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//event.preventDefault();
		setTimeout(goToHomeMain, 200);		
		return false;
	});
	function goToHomeMain(){
		var target = $('#home-main');
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
	}


	
		
	$('a.link-whois').on('click', function(event) {
		//console.log('link-whois click');
		event.preventDefault();
		var target = $('#about-box');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;        
	});
	$('a.link-retiro').on('click', function(event) {
		//console.log('link-retiro click');
		event.preventDefault();
		var target = $('#home-main');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;        
	});

	
	$('a.quesboxit').on('click', function(event) {
		event.preventDefault();
		var target = $('#how-it-works');        
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
		return false;       
		});

	$('a.link-ubicaciones').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//console.log('link-ubicaciones click');
		setTimeout(goToHomeUbication, 200);		
		//return false;        
		});
	function goToHomeUbication(){
		var target = $('#ubication-box');   
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
	}

	$('a.link-vende').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});
	$('a.link-informacion-faq').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		setTimeout(goToTopBody, 200);		
	});

$('a.link-giftcards').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		setTimeout(goToTopBody, 200);		
	});

	$('a.link-informacion-nosotros').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});	
	$('a.link-informacion-prensa').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});	
	$('a.link-informacion-blog').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});	
	$('a.link-empresarial-residencial').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});		
	$('a.link-empresarial-tulocal').on('click', function(event) {
		setTimeout(goToTopBody, 200);		
	});	

	$('a.link-boxitentulocal').on('click', function(event) {
		 $('#navbar').toggleClass('nav-open');
		//console.log('link-ubicaciones click');
		setTimeout(goToHomeBoxitentulocal, 200);		
		//return false;        
		});
	function goToHomeBoxitentulocal(){
		var target = $('#host-boxit');   
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
	}

	$('a.link-lockersinteligentes').on('click', function(event) {
		//console.log('link-ubicaciones click');
		setTimeout(goToHomelockersinteligentes, 200);		
		//return false;        
		});

		//setTimeout(goToHomelockersinteligentes, 200);	

	function goToHomelockersinteligentes(){
		var target = $('#smartlocker-boxit');   
		$('html,body').animate({
			scrollTop: (target.offset().top - navbarAffixHeight + 1)
		}, 1000);
	}
});
</script>