<section class="nosotros">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="nosotros-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>nosotros</h1>
			</div>
		</div>


        <div class="row">
            <div class="col-md-12">
                <h2>Nuestra Historia</h2>
                
                <div class="detalle">
                    <div class="Text">
                        <p><strong>Boxit</strong> inicia con una visión, simplificar las compras por internet y convertirlo en algo del día a día. Luego de su concepción en el centro de innovación de Ciudad del Saber, los creadores viajaron al Web Summit, un evento donde se reúnen los más grandes competidores de la industria. Al observar el terreno de la tecnología en otras regiones y contrastándolo con el deseo de una población que busca aventurarse en el comercio electrónico, se idea <strong>Boxit</strong>. El puente para que aquellos que aún no se atrevan, crucen al mundo del comercio electrónico. Desde lo físico a lo digital y de lo digital a lo físico, el eslabón faltante para masificar el comercio digital.</p>
                    </div>            
                </div>

                <h2>Visión de Boxit</h2>
                
                <div class="detalle">
                    <div class="Text">
                        <p>Somos un emprendimiento dedicado a promover el comercio electrónico en la región de forma sostenible a través de la tecnología y la innovación. Nuestra visión es ser parte de un nuevo modelo de logística en planificación urbana ya que nuestros países enfrentan grandes desafíos para reducir la congestión y la contaminación. </p>
                    </div>                            
                </div>

            </div>
        </div>








            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>
</body>
</html>