<html>
<head>
	<title></title>
</head>
<body>
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth Soon">
<div class="MainTitle">Pago de servicios b&aacute;sicos</div>

<div class="Description">
<div class="Text">Nuestra plataforma te brindar&aacute; la oportunidad de cancelar de forma &aacute;gil y segura tus facturas de servicios p&uacute;blicos, televisi&oacute;n por cable, transporte, seguridad, educaci&oacute;n, seguros, internet entre otros.</div>
</div>

<div class="Image" style="text-align: center;margin-bottom: 20px;"><img alt="" src="img/pago_de_servicios.gif" /></div>

<div class="BoxReadMore">
<div class="Image"><img alt="" src="img/pago_de_servicios.png" /></div>
</div>

<div class="Logos">
<div class="Right"><img alt="" src="img/Slogan.png" /></div>
</div>
</div>
</div>

<div class="Soon Content">
<div class="SoonContainer ContentContainer MaxWidth">
<div class="Image"><img alt="" src="img/soon_2.png" /></div>
</div>
</div>

<div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/bien_cool.png" style="width: 290px;" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_5.png" style="width: auto;" /></div>
</div>

<div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>

<div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">ADEM&Aacute;S DE TODO; <span>BOXIT</span><br />
&iexcl;ES BIEN COOL!</div>
<img src="img/foto-Banner_2.png" /></div>
</div>
</body>
</html>