<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<!-- <div class="MainBanner Gray Content">
<div class="MainBannerContainer ContentContainer MaxWidth">
<div class="MainTitle">Gane tiempo ahorre dinero</div>

<div class="Description">
<div class="Text"><span>Boxit</span> es una manera real, rentable y pr&aacute;ctica de hacer sus env&iacute;os de compras online a precios realmente competitivos en el mercado.</div>
</div>

<div class="Features">
<div class="Feature Blue">
<div class="Title">Documentos</div>

<div class="Image"><img alt="" src="img/documento.gif" /></div>

<div class="Description">
<div class="SinceByDay"></div>

<div class="SinceByDay"></div>
</div>

<div class="Footer">
<div class="Text">*Muy Pronto</div>
</div>
</div>

<div class="Feature Blue">
<div class="Title">Regalos</div>

<div class="Image"><img alt="" src="img/StepsRetira.gif" /></div>

<div class="Description">
<div class="SinceByDay"></div>

<div class="SinceByDay"></div>
</div>

<div class="Footer">
<div class="Text">*Muy Pronto</div>
</div>
</div>

<div class="Feature Blue">
<div class="Title">Paquetes</div>

<div class="Image"><img alt="" src="img/PaqueteEnviar.gif" /></div>

<div class="Description">
<div class="SinceByDay">Desde</div>
$4.5

<div class="SinceByDay">por libra*</div>
</div>

<div class="Footer">
<div class="Text">*Aplica s&oacute;lo env&iacute;os a Panam&aacute;</div>
</div>
</div>

<div class="Feature Blue">
<div class="Title">Servicios</div>

<div class="Image"><img alt="" src="img/pago_de_servicios.gif" /></div>

<div class="Description">
<div class="SinceByDay">Televisi&oacute;n por cable, transporte, seguridad, educaci&oacute;n, seguros, internet entre otros*</div>
</div>

<div class="Footer">
<div class="Text">*Muy pronto</div>
</div>
</div>
</div>
</div>
</div> -->

<div class="PageDescription">
<div class="MainDescription MaxWidth">
<div class="Left">
<div class="Title">Precios</div>
</div>

<div class="Right">
<div class="Groups">
<div class="Group">
<div class="Title">Retiro de paquetes</div>

<div class="Image"><img alt="" src="img/precios_1.png" /></div>
&nbsp;

<table class="table table-bordered">
	<tbody>
		<tr class="headerPrecio">
			<td class="text-center" style="width: 60%">PESO</td>
			<td class="text-center" style="width: 40%;text-align: center !important;">PRECIO POR LIBRA LB/KG</td>
		</tr>
		<tr class="rowPrecio text-center">
			<td><b>1 lb (0.453 kg) en adelante</b></td>
			<td><b>$4.50</b>(cada libra)</td>
		</tr>		
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="color:#585858;"><span><b>Cada paquete paga $1.00 de seguro y $2.00 en concepto de manejo, el cual es sumado al precio final del total de libras por paquete.</b></span></td>
		</tr>
	</tbody>
</table>
&nbsp;

<table>
	<tbody>
		<tr>
			<td><b>Ejemplos:</b></td>
		</tr>
	</tbody>
</table>

<table class="table table-bordered">
	<tbody>
		<tr>
			<td>1- Si usted compra un paquete que pesa <b><u>1 libra</u></b>, pagar&iacute;a <b>$7.50</b>, el cual se desglosa asi: Flete por libra (<b>$4.50</b>), Costo de manejo (<b>$2.00</b>) y Seguro (<b>$1.00</b>).</td>
		</tr>
		<tr>
			<td>2- Si usted compra un paquete que pesa <b><u>5 libras</u></b>, pagar&iacute;a <b>$25.50</b>, el cual se desglosa asi: Flete por libra (<b>$4.50*5</b> libras = <b>$22.50</b>), Costo de manejo (<b>$2.00</b>) y Seguro (<b>$1.00</b>).</td>
		</tr>
	</tbody>
</table>

<table>
	<tbody>
		<tr>
			<td style="color:#585858;"><span><b>**Estos precios no incluyen ITBMS ni cargos aduanales**</b></span></td>
		</tr>
	</tbody>
</table>
<!--<table class="table table-bordered">
                        <tr class="headerPrecio">
                            <td style="width: 50%" class="text-center">Peso</td>
                            <td style="width: 30%;text-align: center !important;" class="text-center">Precio por Libra/Kg</td>
                            <td style="width: 20%" class="text-center">Boxit Pack</td>
                        </tr>
                        <tr class="rowPrecio text-center"  ng-repeat="tarifa in tarifas">
                            <td> {{tarifa.attributes.Peso}} </td>
                            <td> ${{tarifa.attributes.Precio}} </td>
                            <td> ${{tarifa.attributes.BoxitPack}} </td>                          
                        </tr>
</table>
<table>
                        <tr class="rowInfo">
                            <td  colspan="3">A partir de la libra 51+ en adelante el costro por libra es de $4. Estos precios no incluyen ITBMS
                                ni cargos aduanales.</td>
                        </tr>
                        <tr class="rowInfo">
                            <td  colspan="3">EJEMPLO: Si su compra tiene un peso de 2 libras usted pagaría un total de 11$
                                incluyendo 1.00 de Boxit Pack (seguro por paquete)</td>
                        </tr>
</table> --></div>
</div>
</div>
</div>
</div>

<!-- <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_2_blue.png" style="" /></div>
</div>
 -->
<!-- <div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>
 -->
<!-- <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">SOMOS LA <span>EMPRESA L&Iacute;DER</span> EN PANAM&Aacute; DE COMPRAS ONLINE</div>
<img src="img/foto-Banner_1_morado.png" /></div>
</div> -->
</body>
</html>