<section class="vende">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Prensa</h1>
			</div>
		</div>

		<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p><strong>Entrevistas, artículos coordinar a: <a href="mailto:marketing@myboxit.com">marketing@myboxit.com</a></strong></p>
            </div>
		</div>
		
		<div class="row">
            <div class="col-md-10 col-md-offset-1">				
				<p><strong>14/11/2017: La Estrella de Panamá</strong></p>
				<em>
					<a href="http://laestrella.com.pa/estilo/cultura/emprendimiento-promueve-commerce-diario/24033126" target="_blank">Emprendimiento promueve el e-commerce diario</a>
				</em>

				<p><br></p>
				<p><strong>24/11/2017: La Prensa</strong></p>
				<em>
					<a href="https://impresa.prensa.com/economia/Boxit-promotor-comercio-linea_0_4901509914.html" target="_blank">Boxit, un promotor del comercio en línea</a>
				</em>

				<p><br></p>
				<p><strong>14/11/2017: E-commerce Day</strong></p>
				<em>
					<a href="http://www.ecommerceday.com.pa/2017/boxit/" target="_blank">Evento - HOTEL RIU PLAZA PANAMÁ</a>
				</em>
				<p><br></p>

            </div>
		</div>

		<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p><br></p>
            </div>
        </div>
        


            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>
</body>
</html>