<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="BarHeader Content">
<div class="BarHeaderContainer ContentContainer MaxWidth">
<div class="Text"><span>Productos Prohibidos</span></div>
<img alt="" src="img/image_headerbar_1.png" /></div>
</div>

<div class="ContentContainer MaxWidthData">
<br/>
<div class="Text" align="justify">Definido como cualquier cantidad de material inflamable, explosivo o corrosivo.<br/><br/>
Incluye a cualquier sustancia que pueda estar en estado s&oacute;lido, l&iacute;quido o gaseoso, y que tiene las caracter&iacute;sticas de causar da&ntilde;os a la salud, los bienes, y/o al medio ambiente. Esa sustancia o puede ser un producto qu&iacute;mico, agente f&iacute;sico, o biol&oacute;gico (organismos vivientes).<br /><br/>
<b>POR FAVOR NO ENVIAR ESTOS PRODUCTOS A TU DIRECCI&Oacute;N EN MIAMI PUES NO PODR&Aacute;N SER TRANSPORTADOS Y DEBER&Aacute;S ASUMIR LOS COSTOS DE DEVOLUCI&Oacute;N AL PROVEEDOR O DESTRUCCI&Oacute;N</b><br /><br/>
Estos productos incluyen, pero no est&aacute;n limitados a:<br /><br/>
<ul>
	<li>Municiones</li>
	<li>Cualquier art&iacute;culo con alcohol como primer ingrediente</li>
	<li>Soluciones de limpieza</li>
	<li>Fuegos artificiales y p&oacute;lvora</li>
	<li>Gas</li>
	<li>Gas lacrim&oacute;geno o de pimienta</li>
    <li>Encendedores</li>
    <li>Baterías que contengan productos químicos o sean dangerous good</li>
    <li>Venenos</li>
    <li>Envases a presión</li>
    <li>Fósforos</li>
    <li>Cigarrillos Electrónicos y sus Accesorios</li>
    <li>Herramientas que funcionen con gas</li>
    <li>Plantas vivas</li>
    <li>Animales vivos</li>
    <li>Armas y sus partes</li>
    <li>Mira telescópica Infrarrojo</li>
    <li>Suplementos Dietéticos que dentro de su composición se encuentre el elemento activo conocido con el nombre de 1,3-Dimethylamylamine (DMAA) u otros nombres químicos equivalentes, como, por ejemplo: Geranium extract, methylhexanamine, methylhexanamine, etc.</li>
</ul>
<br />
<b>Est&aacute; prohibido la importaci&oacute;n de mercanc&iacute;a falsificada y r&eacute;plicas. Estas mercanc&iacute;as ser&aacute;n decomisadas por la Autoridad Nacional de Aduanas.</b>
<br /><br/>
</div>
</div>
</body>
</html>