<section class="iniciodesesion">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>
	<div class="container-fluid" id="confirmacion-box">
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Recuperar contraseña</h1>
			</div>
		</div>
		<div class="ContentContainer MaxWidthData">
			<div class="Formulary">
				<div class="FieldContent"><span>Contraseña</span></div>
					<input class="form-control" ng-model="password" type="password" />
					<div class="FieldContent"><span>Confirmar Contraseña</span></div>
					<input class="form-control" ng-model="confirmPassword" type="password" />
					<div class="FieldContent">
						<div class="Submit">
							<button class="Button WithBackground" ng-click="reset()">Confirmar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>