<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>

<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<section class="registro iniciodesesion">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>	
	<div class="container-fluid" id="iniciodesesion-box">		
		<div class="row">
			<div class="col-md-12 text-center">
				<h1><span>Reg&iacute;strate</span></h1>
			</div>
		</div>	

		<div class="row">
			<div class="col-md-12 text-center">
				<div class="SubTitle">
					<span>Completa el formulario con tus datos para el registro.</span>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="container">
				<div class="row">
					<div class="col-md-10 col-md-offset-1">

<div class="ContentContainer MaxWidthData">
	<div class="Formulary">
		<div class="Groups">
			<div class="Group" style="padding-bottom: 0 !important">

				<div class="Description">Los campos marcados <span class="requerido">*</span> son obligatorios</div>

				

				<div class="Fields">

					<div class="FieldContent"><span>Nombre</span> <span class="requerido">*</span></div>
					<input class="form-control"  ng-model="username" placeholder="Ingrese su nombre" type="text" />

					<div class="FieldContent"><span>Apellido</span> <span class="requerido">*</span></div>
					<input class="form-control" ng-model="lastname" placeholder="Ingrese su apellido" type="text" />

					<div class="FieldContent"><span>Tel&eacute;fono</span> <span class="requerido">*</span> Formato: +5070000000 </div>
					<input class="form-control" ng-model="Phone" placeholder="Ingrese su teléfono" type="phone" 
					pattern="[+]+[0-9]{10,}" />	
					
					<div class="FieldContent"><span>Fecha de Nacimiento</span> <span class="requerido">*</span> Formato: dd/mm/aaaa </div>


      
            <div class="form-group">
                <div class="input-group">
                    <input type="text" name="UserBirthdate"  class="form-control" ng-model="UserBirthdate" jqdatepicker>
                    <span class="input-group-addon" data-toggle="datepicker" style="cursor: pointer;" >
                        <i class="glyphicon glyphicon-calendar"></i>
                    </span></input>
                </div>
            </div> 

				<!--	<div class="input-group">
						<input type="date" name="UserBirthdate" ng-model="UserBirthdate" class="form-control prueba" required data-date-open-on-focus="true">  -->
<!--
						<input type="text" class="form-control" alt-input-formats="altInputFormats" close-text="Close" datepicker-options="dateOptions" is-open="popup1.opened" ng-model="UserBirthdate" uib-datepicker-popup="{{format}}" required/> 
	
						
					-->
					</div>
				</div>

				
				<div class="Fields">
					<div class="FieldContent"><span>Correo Electrónico</span> <span class="requerido">*</span></div>
					<input class="form-control" ng-model="useremail" placeholder="tuCorreo@correoelectronico.com" type="email" />

					<div class="FieldContent"><span>Contrase&ntilde;a</span> <span class="requerido">*</span></div>
					<input class="form-control" ng-model="password" placeholder="*******" type="password" />

					<div class="FieldContent"><span>Confirma tu contrase&ntilde;a</span> <span class="requerido">*</span></div>
					<input class="form-control" ng-model="confirmarpassword" placeholder="*******" type="password" />

					<div ng-show="false">
						<div class="FieldContent"><span>Pregunta de seguridad</span></div>
						<select id="" name=""><option value=""></option> </select>
					</div>

					<div ng-show="false">
						<div class="FieldContent"><span>Respuesta de seguridad</span></div>
						<select id="" name=""><option value=""></option> </select>
					</div>
					
					<div class="FieldContent"><span>Boxit</span> <span class="requerido">*</span></div>
					<select ng-change="showBoxitAddress();" class="form-control" ng-model="plataforma" ng-options="plataforma.attributes.Address for plataforma in plataformas"><option value="">Selecciona tu Boxit m&aacute;s cercano</option> </select>
					<br>
					
					<div ng-show="showBxitAddress">						
						<textarea class="form-control" cols="20" id="input_otraopcion" ng-model="boxitAddress" rows="2"></textarea>
					</div>	

				</div>
				
					<br>						
					<div class="FieldContent"><span>Código Promoción</span></div>
					<input class="form-control" id="CodPromo" ng-model="CodPromo" placeholder="Ingresa Código Promoción" type="text" />	
					<br>
					<button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Datos Opcionales
						</button>
				<div class="collapse" id="collapseExample">
					<div class="Fields">					
	
						<div class="FieldContent"><span>G&eacute;nero</span></div>
						<select class="form-control" id="" name="" ng-model="UserGender"><option value="">Seleccione una opci&oacute;n</option><option value="H">Masculino</option><option value="M">Femenino</option> </select>

						<div class="tarifaplan">
							<div class="container-fluid">		
								<div class="row">
									<div class="col-xs-6 tarifa-left">
										<div class="tarifa tarifaselected">
											<label class="radio-inline tarifa-titulo ">
												<input ng-model="IdTipoPlan" type="radio" name="IdTipoPlan" id="IdTipoPlan2" value="1" checked="checked"> Tarifa Básica
											</label>
											<p class="tarifa-row">Traemos tu compra de 5 a 7 días</p>
											<p class="tarifa-row">Libra en 4.5$</p>
											<p class="tarifa-row">Sin cargos por paquete<br><br></p>
										</div>							
									</div>
									<div class="col-xs-6 tarifa-right">
										<div class="tarifa">
											<label class="radio-inline tarifa-titulo cancheck">
												<input ng-model="IdTipoPlan" type="radio" name="IdTipoPlan" id="IdTipoPlan1" value="2" > Tarifa Premium
											</label>
											<p class="tarifa-row">Traemos tu compra de 3 a 5 días</p>
											<p class="tarifa-row">Libra en 4.5$</p>
											<p class="tarifa-row">Cargos por paquete<br>1$ de Seguro y 2$ Manejo</p>
										</div>							
									</div>
								</div>
								<input type="hidden" name="IdTipoPlan" id="IdTipoPlan">						
							</div>
						</div>						

						<div class="FieldContent"><span>¿Cómo te enteraste de Boxit?</span></div>
						<select class="form-control" id="select_CEnteraste" name="" ng-model="CEnteraste" onchange="validar_opcion_centeraste();"><option value="">Seleccione una opci&oacute;n</option><option value="1">Instagram</option><option value="2">Facebook</option><option value="3">Me Tope con el Locker</option><option value="4">Un Amigo</option><option value="6">Otro</option> </select>
						
						<div id="td_otraopcion" style="display:none;">
							<div class="FieldContent"><span>Descripci&oacute;n:&nbsp;</span></div>
							<textarea class="form-control" cols="20" id="input_otraopcion" ng-model="Otro_CEnteraste" rows="2"></textarea>
						</div>				
						

						<div><p><br></p></div>
						
						<div class="FieldContent"><span>&iquest;Cual de las siguientes categor&iacute;as de productos te interesa?</span></div>

						<div ng-repeat="x in Categ">
							<div align="left"><input id="{{x.id}}" ng-model="x.checked" onclick="mostrar_campo_otracategoria(this.value);" type="checkbox" value="{{x.id}}" /><label for="{{x.id}}">&nbsp;{{x.name}}</label></div>
						</div>
						<div id="tr_otracategoria" style="display:none">
							<input class="form-control" id="input_otracategoria" ng-model="Otra_Categoria" placeholder="Ingresa Otra Categoría" type="text" />
						</div>

					</div>
				</div>				
			</div>
				</div>
			</div>

			<div class="row">
					<div class="col-md-12">
						<div class="registro-terminos-link">
							<p>Al continuar, aceptas nuestros <a ng-click="leerTerminosycondiciones()">Términos y condiciones</a></p>
						</div>
					</div>

				<div class="col-md-5"></div>

				<div class="col-md-4">
					<div class="Submit"><!--<input type="submit"  value="REGISTRARME">--><button class="Button WithBackground" ng-click="Sigin()">REGISTRARME</button></div>
					<br>
				</div>
				<br>
			</div>
			<br>
		</div>








					</div>
				</div>
			</div>
		</div>
	</div>
</section>

<script type="text/javascript">
	$(document).ready(function() {
		$(".tarifa-titulo").on('click', function(event) {			
			$(".tarifa").removeClass("tarifaselected");
			$(".tarifa-titulo").addClass( "cancheck" );
			$( this ).removeClass("cancheck");			
			$( this ).parent().addClass( "tarifaselected" );
			//console.log("$this.parent()",$( this ).parent());
		});



	});

 $('html,body').animate({
            scrollTop: (1)
        }, 1000);

</script>




<style type="text/css">
	.datepicker,
.table-condensed {
  width: 320px;
  height:320px;
}
</style>


</body>
</html>