<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth">
<div class="MainTitle">Retiro de paquetes</div>

<div class="Description">
<div class="Text">Compra en la tienda online de tu preferencia, selecciona el <span>Boxit</span> m&aacute;s cercano a tu hogar, universidad u oficina, ingresa el c&oacute;digo de seguridad, libera tu paquete y disfruta al m&aacute;ximo tu pedido.</div>
</div>

<div class="Image" style="text-align: center;"><img alt="" src="img/StepsRetira.gif" /></div>

<div class="BoxReadMore">
<div class="Image"><img alt="" src="img/tamano_de_felicidad.png" /></div>
</div>

<div class="Logos">
<div class="Right"><img alt="" src="img/Slogan.png" /></div>
</div>
</div>
</div>

<div class="StepsRetiro Content">
<div class="StepsRetiroContainer ContentContainer MaxWidth">
<div class="Title">&iquest;C&oacute;mo retirar tu paquete?</div>

<div class="StepsNumbers">
<div class="Step">1</div>

<div class="Separator"></div>

<div class="Step">2</div>

<div class="Separator"></div>

<div class="Step">3</div>
</div>

<div class="StepsContainer">
<div class="Step">
<div class="Image"><img alt="" src="img/Compra_white.gif" /></div>

<div class="Title">Haz tu compra online</div>

<div class="Description">Una vez seleccionados tus art&iacute;culos de preferencia finaliza tu compra ingresando la direcci&oacute;n de casillero asignada.</div>
</div>

<div class="Step">
<div class="Image"><img alt="" src="img/StepsNotificacion_white.gif" /></div>

<div class="Title">Recibir&aacute;s una notificaci&oacute;n</div>

<div class="Description">Al llegar tu paquete enviaremos un email con el c&oacute;digo de seguridad para ingresar en el casillero <span>Boxit</span>, as&iacute; liberas tu paquete autom&aacute;ticamente.</div>
</div>

<div class="Step">
<div class="Image"><img alt="" src="img/StepsRetira_white.gif" /></div>

<div class="Title">Retira</div>

<div class="Description">Ingresa el c&oacute;digo &uacute;nico de retiro y disfruta de tu experiencia de compra con <span>Boxit</span>.</div>
</div>
</div>
</div>
</div>

<div class="PageDescription">
<div class="MainDescription MaxWidth" style="padding-top: 70px;padding-bottom: 240px;margin-bottom: 0;">
<div class="Description">
<div class="Text"><span>BOXIT</span> cuenta con una tecnolog&iacute;a que permite personalizar el registro de tus datos, adem&aacute;s de una plataforma actualizada para hacer m&aacute;s entretenida, gratificante y satisfactoria tus compras online y recepci&oacute;n de paquetes.<br />
<br />
Nos adaptamos a tu estilo de vida, con puntos de autoservicio situados estrat&eacute;gicamente en la ciudad.<br />
<br />
Debe tomar en cuenta que una vez recibido su mensaje con el c&oacute;digo de retiro tiene hasta 2 d&iacute;as para retirar su paquete, luego se incurre en gastos de almacenaje adicionales.</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img alt="" src="img/retira_tu_paquete.png" style="z-index: 1; right: 75px;" /></div>
</div>

<!-- <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_3.png" style="" /></div>
</div> -->

<!-- <div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>
 -->
<!-- <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">SOMOS LA <span>EMPRESA L&Iacute;DER</span> EN PANAM&Aacute; DE COMPRAS ONLINE</div>
<img src="img/foto-Banner_4.png" /></div>
</div> -->
</body>
</html>