<script src="../js/moment.js" type="text/javascript"></script>

<script src="../js/controllers/seleccionarBoxitController.js" type="text/javascript"></script>

<script src="../js/services/userService.js" type="text/javascript"></script>



<link href="../css/userStyle.css" rel="stylesheet" type="text/css"/>

<div class="container">

<div class="row">

    <div class="col-sm-2"></div>

    <div class="col-sm-6">

        <h3 class="customLabel">Selecionar Boxit</h3>

 <br>

        <div class="form-group">

            <select  ng-change='showBoxitAddress();' class="form-control" ng-options="plataforma.attributes.Address + ' - ' + plataforma.attributes.DescPlataforma for plataforma in plataformas" ng-model = "descPlataforma"  ng-selected="default">
                <!--<option value="">Selecciona tu Boxit más cercano</option>-->
            </select>            
            <br/>
            <div class="FieldContent">
                <p ng-model="boxitAddress">{{boxitAddress}}</p>
                <!--<textarea class="form-control" id="info_boxit_sel"  rows="2" ng-model="boxitAddress"></textarea>-->
            </div>
        </div>
        <br>

        <div class="Submit">

            <button class="Button WithBackground" ng-click="Update()">Modificar</button>

        </div>


        
            <!--    --> 
        

        <script src="js/mapaLockers.js" type="text/javascript"></script>

    </div>
    

</div>


    <div style="clear:both;"></div>
    <div class="col-sm-10">

        <div class="select-boxit-ubicaciones">
            <div class="text-center">
                <h1>Ubicaciones</h1>
            </div>
            <div id="home-map"></div>
        </div>

    </div>

</div>