<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
<p><br></p>
        <div class="form-group">
            <button type="file" ngf-select="uploadFiles($file, $invalidFiles)" ngf-pattern=".pdf,image/*"
                    accept=".pdf,image/*" ngf-max-height="2000" ngf-max-size="4MB" ngf-multiple="multiple" ng-multiple="true">
                Select File</button>
            <br><br>
            File:
            <div style="font:smaller">{{f.name}} {{errFile.text}} 
                <span class="progress" ng-show="f.progress >= 0">
                    <div style="width:{{f.progress}}%"  
                        ng-bind="f.progress + '%'"></div>
                </span>
            </div>     
            {{errorMsg}}
        </div>

       