<!DOCTYPE html>
<html>
<head>
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) --><!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<div class="container ">
<div class="row pre-scrollable">
<div class="col-md-offset-1 col-md-7">
<h3 class="text-justify">T&eacute;rminos y condiciones Boxit, S.A.</h3>

<p class="text-justify">Bienvenidos a Boxit, estamos muy contentos que seas parte de nuestra familia de felices compradores por internet y vivas la experiencia Boxit, cuyo lema &ldquo;Delivering Happiness&rdquo; es el compromiso que tenemos con nuestros usuarios.</p>

<p class="text-justify">Boxit ofrece un conjunto de servicios que facilitaran tu proceso de compra en l&iacute;nea, pago de servicios b&aacute;sicos, entrega de documentos, env&iacute;o de regalos, y servicios a empresas en Panam&aacute;. Uso de sitio web MYBOXIT.COM.</p>

<h4 class="text-justify">Cuenta de usuario</h4>

<p class="text-justify">Cada usuario es responsable de mantener su informaci&oacute;n de acceso a la cuenta de forma confidencial y de restringir el acceso a la cuenta, y aceptas la responsabilidad de cualquier actividad que ocurra con tus credenciales (usuario y clave).</p>

<p class="text-justify">Boxit presta su servicio a personas mayores de edad (compras en l&iacute;nea con tarjeta de cr&eacute;dito, uso de la direcci&oacute;n postal para recibir paquetes, pagos de servicios, env&iacute;o de documentos, env&iacute;o de regalos) si eres menor de edad, debes usar los servicios de Boxit bajo la supervisi&oacute;n de un adulto, cuyas transacciones estar&aacute;n a nombre del adulto responsable.</p>

<h4 class="text-justify">Comunicaci&oacute;n Electr&oacute;nica</h4>

<p class="text-justify">Boxit se comunica con usted.</p>

<p class="text-justify">Usted acepta que toda la comunicaci&oacute;n que Boxit le env&iacute;e por correo electr&oacute;nico, medios impresos, mensajes SMS, y cualquier tipo de comunicaci&oacute;n que Boxit considere necesaria, est&aacute; dentro de los par&aacute;metros legales y usted acepta que puede recibir dicha comunicaci&oacute;n.</p>

<h4 class="text-justify">Normativa Legal</h4>

<p class="text-justify">Boxit es una empresa que cumple con todas las disposiciones legales y leyes aplicables de Estados Unidos, Panam&aacute; y todos los dem&aacute;s pa&iacute;ses de destino.</p>

<p class="text-justify">Para poder cumplir con todas estas normativas, usted acepta brindarle a Boxit toda la informaci&oacute;n pertinente, legal y precisa (Nombre completo, n&uacute;mero de tel&eacute;fono, correo electr&oacute;nico, facturas de compras, informaci&oacute;n de pago, certificado de origen de productos) cuando sea necesario.</p>

<h4 class="text-justify">ORDENES</h4>

<p class="text-justify">Boxit procesa &oacute;rdenes bajo nuestro servicio WEB BoxitStore.</p>

<p class="text-justify">Las ordenes tienen una duraci&oacute;n de 24 horas para poder recibir el pago y efectuar la compra, las cuales al cabo de este tiempo ser&aacute;n canceladas de forma autom&aacute;tica, durante este transcurso Boxit le estar&aacute; enviando notificaciones de recordatorio para pagar el monto de la orden para poder procesar el pago.</p>

<p class="text-justify">Boxit se reserva el derecho de cancelar cualquier orden a su discreci&oacute;n Cualquier orden que Boxit cancele que ya el cliente ha pagado, ser&aacute; reembolsada en su totalidad. Las &oacute;rdenes canceladas ser&aacute;n notificadas por email.</p>

<p class="text-justify">Boxit cancelara cualquier orden cuyo producto este dentro de la lista de productos prohibidos descritos en nuestro portal.</p>

<p class="text-justify">Boxit se reserva el derecho de ejecutar las siguientes acciones con las &oacute;rdenes:</p>

<ul>
	<li>Descontinuar o limitar la disponibilidad de cualquier producto</li>
	<li>Evitar que usuarios hagan o completen alguna transacci&oacute;n</li>
	<li>Rehusarse a facilitar cualquier producto o servicio a alg&uacute;n usuario</li>
	<li>Si Boxit compra algo cotizado a un usuario a un menor precio, la diferencia ser&aacute; para Boxit. Si se genera alg&uacute;n gasto adicional derivado de la compra en el comercio asociado, el gasto deber&aacute; ser cubierto por el usuario.</li>
</ul>

<p class="text-justify">Para que Boxit reconozca un pedido, el usuario debe haber creado la orden, sin embargo, no significa que dicha orden haya sido aceptada o comprada, o que el precio mostrado haya sido confirmado o la disponibilidad confirmada.</p>

<p class="text-justify">Boxit hace un esfuerzo por mostrar los productos correctamente en la WEB.</p>

<p class="text-justify">A pesar de estos esfuerzos, algunos productos pueden mostrarse con errores de descripci&oacute;n o precio, podr&iacute;an estar no disponible, o se puede dar el caso que se presenten atrasos en actualizaciones de productos.</p>

<p class="text-justify">Por esta raz&oacute;n, no garantizamos la integridad o veracidad de la informaci&oacute;n, incluyendo precios, im&aacute;genes de los productos, especificaciones, disponibilidad y servicios. Boxit se reserva el derecho de cambiar o actualizar la informaci&oacute;n y corregir errores u omisiones en cualquier momento, sin previo aviso.</p>

<p class="text-justify">Boxit, no se hace responsable por selecci&oacute;n equivocada de talla, color, descripci&oacute;n de cualquier producto seleccionado, esto es responsabilidad del cliente.</p>

<h4 class="text-justify">Procesamiento de entregas desde Miami</h4>

<p class="text-justify">Cada n&uacute;mero de Tracking (Numero de Gu&iacute;a) representa un paquete individual y ser&aacute; cobrado de acuerdo a las tarifas de Boxit.</p>

<p class="text-justify">Boxit se reserva el derecho de rechazar paquetes que considere sospechosos (de acuerdo, pero no limitado a la lista de productos prohibidos), que hayan sido manipulados, abiertos, da&ntilde;ados antes Boxit no transporta Droga, armas, replicas ni ning&uacute;n tipo de art&iacute;culos que est&eacute;n dentro de la lista de art&iacute;culos prohibidos.</p>

<p class="text-justify">Boxit se reserva el derecho de abrir los paquetes para su respectiva inspecci&oacute;n y verificaci&oacute;n de acuerdo a las normativas legales internacionales de transporte bajo las leyes de Los Estados Unidos de Am&eacute;rica, Panam&aacute; y otros pa&iacute;ses de destino.</p>

<p class="text-justify">Los env&iacute;os podr&iacute;an ser retenidos en la direcci&oacute;n de Miami por hasta sesenta (60) d&iacute;as debido a, pero no limitado a preparaci&oacute;n adicional para el proceso de env&iacute;o, o recepci&oacute;n de env&iacute;os con errores en el nombre, direcci&oacute;n y/o solicitud del consumidor.</p>

<p class="text-justify">Boxit se reserva el derecho de destruir o disponer, a su propia discreci&oacute;n, de cualquier env&iacute;o que no se haya reclamado o que haya estado almacenado por m&aacute;s de sesenta (60) d&iacute;as en la direcci&oacute;n de Miami, o la facilidad de Boxit en el pa&iacute;s destino.</p>

<h4 class="text-justify">Recargo por retiro tard&iacute;o de paquete</h4>

<p class="text-justify">Boxit retirar&aacute; los paquetes luego de 48 horas en el locker y los llevar&aacute; a nuestras bodegas en Panam&aacute;, el cual tendr&aacute; un costo de recargo de $1.00 por d&iacute;a. Boxit almacenar&aacute; los paquetes en las bodegas de Panam&aacute; hasta un m&aacute;ximo de noventa (90) d&iacute;as, luego de este tiempo Boxit se reserva el derecho de disponer del producto.</p>
</div>
</div>

<div class="row">
<div class="col-md-offset-3 col-md-3 text-justify">
<div class="checkbox"><label><input ng-change="checkboxChange()" ng-model="acceptTerms" type="checkbox" /> He leido y acepto los t&eacute;rminos y condiciones </label></div>
</div>
</div>
</div>
</body>
</html>