<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="BarHeader Content">
<div class="BarHeaderContainer ContentContainer MaxWidth">
<div class="Text"><span>Trámites Especiales</span></div>
<img alt="" src="img/image_headerbar_1.png" /></div>
</div>

<div class="ContentContainer MaxWidthData">&nbsp;
<div align="justify" class="Text">Estos artículos pueden tener algún tipo de restricción para salir de USA o necesitar permisos especiales para entrar al país, por ser considerados materiales sensibles. Los trámites especiales tendrán un cargo adicional.<br />
<br />
<b>PRODUCTOS</b><br />
<ul>
    <li>Cremas y cosméticos</li>
<li>Productos perecederos</li>
<li>Equipo médico</li>
<li>Explosivos y municiones</li>
<li>Armas</li>
<li>Alimentos y bebidas</li>
<li>Animales vivos</li>
<li>Productos en spray o que dañen la capa de ozono</li>
<li>Mercadería con eficiencia energética</li>
<li>Otros</li>
<li>Semillas</li>
<li>Plantas</li>
<li>Radio controles y radares</li>
<li>Tabaco</li>
<li>Sustancias tóxicas</li>
<li>Madera</li>
<li>Precursores y sustancias químicas</li>
<li>Pieles y productos de origen animal</li>
<li>Medicinas, drogas y estupefacientes</li>
<li>Plaguicidas, pesticidas, agroquímicos, fertilizantes</li>
<li>Otros</li>	
</ul>
<br />
<b>Requieren de trámite de Cuarentena:</b><br />
<ul>
<li>Libros</li>
<li>Papel higiénico</li>
<li>Servilletas</li>
<li>Papel Toalla</li>
<li>Cartón (Cartón corrugado, cartoncillo, etc.) </li>
<li>Productos derivados del papel y todos los subproductos derivados de origen vegetal. </li>
</ul>
<br />
Para la importación de los siguientes productos, el cliente debe presentar la documentación previa al embarque en USA, de lo contrario la mercancía podría llegar a ser decomisada a su llegada a Panamá, y el cliente deberá correr con los gastos de decomiso y/o incineración.
<br /><br />
<b>PRODUCTOS</b><br />
<ul>
<li>Semillas</li>
<li>Plantas</li>
<li>Radio controles y radares</li>
<li>Tabaco</li>
<li>Sustancias tóxicas</li>
<li>Madera</li>
<li>Precursores y sustancias químicas</li>
<li>Pieles y productos de origen animal</li>
<li>Medicinas, drogas y estupefacientes</li>
<li>Otros</li>

</ul>
<br /><br />

&nbsp;</div>
</div>
</body>
</html>