<html>
<head><meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title></title>
	<!--Begin AutoPilot -->
<script type="text/javascript">(function(o){var b="https://api.autopilothq.com/anywhere/",t="cb7780893cf5421d9959efe45ff50119761aaf4c5b404556b3591ff3195936d8",a=window.AutopilotAnywhere={_runQueue:[],run:function(){this._runQueue.push(arguments);}},c=encodeURIComponent,s="SCRIPT",d=document,l=d.getElementsByTagName(s)[0],p="t="+c(d.title||"")+"&u="+c(d.location.href||"")+"&r="+c(d.referrer||""),j="text/javascript",z,y;if(!window.Autopilot) window.Autopilot=a;if(o.app) p="devmode=true&"+p;z=function(src,asy){var e=d.createElement(s);e.src=src;e.type=j;e.async=asy;l.parentNode.insertBefore(e,l);};y=function(){z(b+t+'?'+p,true);};if(window.attachEvent){window.attachEvent("onload",y);}else{window.addEventListener("load",y,false);}})({});</script>
<!--End AutoPilot -->
<!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-WPBXCP9');</script>
<!-- End Google Tag Manager -->
</head>
<body>
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WPBXCP9"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<div class="MainBanner Content">
<div class="MainBannerContainer ContentContainer MaxWidth">
<div class="MainTitle">Ubicaciones</div>
<div class="Banner">
	<div class="Description">
<div class="Text">Nuestros Boxits se encuentran en varios puntos de la Ciudad para tu comodidad.</div>
</div>


    <br/>
</div>
</div>
</div>
</div>
<div class="ContentContainer MaxWidthData">
<br/>
<table class="table table-bordered">
	<tbody>
		<tr class="headerPrecio">
			<td class="text-center" style="width: 40%">BOXIT</td>
			<td class="text-center" style="width: 60%;text-align: center !important;">UBICACIÓN</td>
		</tr>		
		<tr class="Text text-center">
			<td><b>Boxit LA CRESTA</b></td>
			<td><b>La Cresta, Zaz Food Store, en la estación Delta al lado de la Entrada de Hossana. (Todos los días, 24 horas)</td>
		</tr>	
		<tr class="Text text-center">
			<td><b>Boxit VÍA ISRAEL</b></td>
			<td><b>Vía Israel, próximo a ELMEC, frente a la calle 76 (Istmo Pub). Plaza City Point, dentro del local Super Gourmet. (Todos los días, de 9AM A 10PM)</td>
		</tr>
		<tr class="Text text-center">
			<td><b>Boxit CIUDAD DEL SABER</b></td>
			<td><b>Ciudad del Saber, a un costado de la Plaza.(Todos los días, 24 horas)</td>
		</tr>
		<tr class="Text text-center">
			<td><b>Boxit SAN FERNANDO</b></td>
			<td><b>Vía España, La Sabana, Zaz Food store, en estación Delta al lado de Consultorios América (Carrasquilla). (Todos los días, 24 horas)</td>
		</tr>
		<tr class="Text text-center">
			<td><b>Boxit SELINA</b></td>
			<td><b>Selina Embassy, Casco Viejo, Frente a Puerta de Tierra, edificio de la esquina diagonal a Plaza Herrera.(10:30am - 7:30pm) EDICION ESPECIAL</td>
		</tr>
		<tr class="Text text-center">
			<td><b>OFICINA PRINCIPAL</b></td>
			<td><b>Ciudad del Saber, Calle Evelio Lara, Casa 138-B (Lunes a Viernes, de 8:30AM A 5:30PM)</td>
		</tr>	
	</tbody>
</table>
</div>
</div>

 <div class="BannerSobresaliente Content" style="height: 190px;background-color: #00b4cb;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title"><img alt="" src="img/Titulo-que_esperas_para_usar_nuestro_servicio.png" /></div>

<div class="Description">
<div class="Text">Registrate y realiza tu compra ya!</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">REGISTRARME</a></div>
<a ui-sref="registro"> </a></div>
<img src="img/foto-Banner_3.png" style="" /></div>
</div> 

<!-- <div class="AlwaysClose Content">
<div class="MainTitle">Siempre cerca</div>

<div class="Description">
<div class="Text">Reg&iacute;strate y elige el <span>BOXIT</span> m&aacute;s cercano a tu casa u oficina</div>
<a ui-sref="registro"> </a>

<div class="Button WithBackground"><a ui-sref="registro">CONSIGUE EL BOXIT M&Aacute;S CERCANO</a></div>
<a ui-sref="registro"> </a></div>
</div>

<!-- <div class="BannerSobresaliente Content" style="height: 111px;background-color: #A82773;">
<div class="BannerSobresalienteContainer ContentContainer MaxWidth">
<div class="Title">SOMOS LA <span>EMPRESA L&Iacute;DER</span> EN PANAM&Aacute; DE COMPRAS ONLINE</div>
<img src="img/foto-Banner_4.png" /></div>
</div> -->
</body>
</html>