<section class="vende">
	<div class="BarHeader Content">
		<div class="BarHeaderContainer ContentContainer MaxWidth">
			<img alt="" src="img/image_headerbar_1.png" />
		</div>
	</div>		
	<div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center">
				<h1>Cómo vender por Boxit</h1>
			</div>
		</div>

		<div class="row">
            <div class="col-md-10 col-md-offset-1">
                <p>Las Tiendas Online fueron hechas por un solo motivo, pues... para quedarse online. Es por eso que creamos este servicio para emprendedores virtuales como tú. Utiliza nuestra red de Lockers Inteligentes para entregar y recibir los pagos de tus clientes y preocúpate por lo más importante para tu negocio, TU PRODUCTO.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <p><br></p>
                <img src="img/newstyle/afiliados/4afiliados.png" alt="Afiliados">
            </div>
        </div>

        <p><br></p>

        <div class="row">
            <div class="col-xs-12 col-md-6 text-center">
                <div class="tesstimonio">
                    <img src="img/newstyle/testimoniales/Marie-Testimonio-BN.png" alt="Afiliados">
                </div>
                
            </div>
            <div class="col-xs-12 col-md-6 text-center">  
                <div class="tesstimonio">              
                    <img src="img/newstyle/testimoniales/Testimonio-Music-Shop.png" alt="Afiliados">
                </div>
            </div>
        </div>
        <p><br></p>

            
    </div>
    <div class="container-fluid" id="vende-box">			
		<div class="row">
			<div class="col-md-12 text-center"></div>
        </div>
    </div>
</section>
</body>
</html>